{% from  '_helper.html' import c, cu %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ page_title|default('Vakarian') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vakarian Admin is an admin theme. >>>> CHANGE THIS <<<<">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap.min.css') }}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ static('css/lib/font-awesome.min.css') }}">

    <!-- Vakarian CSS -->
    {% block css %}{%- endblock %}

    <script src="{{ static('js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
</head>

<body>

    {{ c('page wrapper') }}
    <div class="wrapper">

        {{ c('top nav bar') }}
        <div class="top-nav-bar">

        </div>{{ c('/top nav bar') }}

        <div class="container">
            <div class="row">

                {{ c('left sidebar') }}
                <div class="col-md-2 sidebar">

                </div>{{ c('/left sidebar') }}

                {{ c('content wrapper') }}
                <div class="col-md-10 content-wrapper">

                </div>{{ c('/content wrapper') }}

            </div>{{ c('/div.row') }}

        </div>{{ c('/div.container') }}

    </div>{{ c('/page wrapper') }}

    {% block main %}{% endblock %}


    <!-----------------------
        JavaScript Includes
    ------------------------>

    {{ cu('jQuery and Bootstrap') }}
    <script src="{{ static('js/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static('js/bootstrap.min.js') }}"></script>

    {{ cu('vendor') }}
    {% block vendor_js %}{% endblock %}

    {{ cu('page specific') }}
    {% block js %}{% endblock %}

</body>
</html>
