{% from  '_helper.html' import c, cu %}
{%- set temp =  disable_comments %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ page_title|default('Vakarian') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vakarian Admin is an admin theme. >>>> CHANGE THIS <<<<">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700,800' rel='stylesheet' type='text/css'>

    {{ c('Bootstrap CSS') }}
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap.min.css') }}">

    {{ c('Vendor CSS') }}
    <link rel="stylesheet" href="{{ static('css/lib/font-awesome.min.css') }}">

    {{ c('Vakarian Base CSS') }}
    <link rel="stylesheet" href="{{ static('css/compiled/base.css') }}">

    {{ c('Vakarian Page Specific CSS') }}
    {% block css %}{%- endblock %}

    <script src="{{ static('js/common/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
</head>

<body>

    {{ c('page wrapper') }}
    <div class="wrapper">

        {{ c('top nav bar') }}
        <nav class="navbar navbar-fixed-top navbar-primary" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><i class="fa fa-dribbble"></i> Vakarian <span class="brand-subtext hidden-xs">Admin Panel</span></a>
                </div>

                <ul class="navbar-items">
                    <li>
                        <button type="button" class="btn-navbar" id="sidebarNavToggle"><i class="fa fa-bars fa-fw"></i></button>
                    </li>
                </ul>

                <ul class="navbar-items pull-right">

                    {{ c('Search field') }}
                    <li>
                        <form class="navbar-search">
                            <input class="form-control" type="text" placeholder="Search...">
                            <button type="submit" class="btn-navbar" id="navbarSearchToggle"><i class="fa fa-search fa-fw"></i></button>
                        </form>
                    </li>

                    {{ c('Notifications dropdown') }}
                    <li class="dropdown notifications-dropdown">
                        <button type="button" class="btn-navbar" data-toggle="dropdown">
                            <span class="events-count">4</span>
                            <i class="fa fa-exclamation-circle fa-fw"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a class="media" href="#">
                                <i class="fa fa-envelope fa-fw pull-left"></i>
                                <div class="media-body">
                                    <h5 class="media-heading">You have unread mails</h5>
                                    Last 9 min ago
                                </div>
                            </a></li>
                            <li><a class="media" href="#">
                                <i class="fa fa-exclamation-triangle fa-fw pull-left"></i>
                                <div class="media-body">
                                    <h5 class="media-heading">An error occured</h5>
                                    2 hr. ago
                                </div>
                            </a></li>
                            <li><a class="media" href="#">
                                <i class="fa fa-users fa-fw pull-left"></i>
                                <div class="media-body">
                                    <h5 class="media-heading">Unattended support tickets</h5>
                                    Last 6 hr. ago
                                </div>
                            </a></li>
                            <li role="presentation" class="divider"></li>
                            <li class="see-all"><a href="#">See all notifications</a></li>
                        </ul>
                    </li>

                    {{ c('Settings dropdown') }}
                    <li class="dropdown settings-dropdown">
                        <button type="button" class="btn-navbar" data-toggle="dropdown"><i class="fa fa-gears fa-fw"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                            <li><a href="#"><i class="fa fa-question fa-fw"></i> Help</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>

        {{ c('left sidebar') }}
        <div class="sidebar">

            <div class="sidebar-profile-wrapper clearfix">
                <div class="sidebar-profile clearfix">
                    <i class="fa fa-chevron-right"></i>
                    <img class="sidebar-profile-avatar img-circle" src="{{ static('img/profile0.jpg') }}">
                    <div class="sidebar-profile-content">
                        <div class="welcome">Welcome</div>
                        <div class="name">John Doe</div>
                        <div class="position">Sales Dept.</div>
                    </div>
                </div>
            </div>

            <ul class="nav nav-sidebar">
                <li><a href="/"><i class="fa fa-desktop fa-fw"></i> <span>Dashboard</span></a></li>
                <li>
                    <a href="#"><i class="fa fa-th fa-fw"></i> <span>Grids</span></a>
                    <ul>
                        <li><a href="#">Test</a> </li>
                        <li><a href="#">Test</a> </li>
                        <li><a href="#">Test</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> <span>Charts</span></a>
                    <ul>
                        <li><a href="#">Flot</a> </li>
                        <li><a href="#">Morris</a> </li>
                        <li><a href="charts-chartjs.html">Chart.js</a> </li>
                        <li><a href="#">xCharts</a> </li>
                        <li><a href="#">Others</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> <span>Tables</span></a>
                    <ul>
                        <li><a href="#">Test</a> </li>
                        <li><a href="#">Test</a> </li>
                        <li><a href="#">Test</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-calendar fa-fw"></i> <span>Calendar</span></a>
                    <ul>
                        <li><a href="#">Test</a> </li>
                        <li><a href="#">Test</a> </li>
                        <li><a href="#">Test</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-list-alt fa-fw"></i> <span>Form Elements</span></a>
                    <ul>
                        <li><a href="#">Test</a> </li>
                        <li><a href="#">Test</a> </li>
                        <li><a href="#">Test</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-clock-o fa-fw"></i> <span>UI Elements</span></a>
                    <ul>
                        <li><a href="#">Test</a> </li>
                        <li><a href="#">Test</a> </li>
                        <li><a href="#">Test</a> </li>
                    </ul>
                </li>
            </ul>

        </div>{{ c('/left sidebar') }}

        {{ c('content wrapper') }}
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="page-title">{{ page_title }}</h3>
                    <h4 class="page-sub-title">{{ page_sub_title }}</h4>
                </div>
            </div>
            {% block main %}{% endblock %}
        </div>{{ c('/content wrapper') }}

    </div>{{ c('/page wrapper') }}

    <!------------------------
        JavaScript Includes
      ------------------------>

    {{ cu('jQuery and Bootstrap') }}
    <script src="{{ static('js/common/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static('js/common/jquery-ui.min.js') }}"></script>
    <script src="{{ static('js/common/bootstrap.min.js') }}"></script>

    {{ cu('vendor') }}
    {% block vendor_js %}{% endblock %}

    {{ cu('template') }}
    <script src="{{ static('js/template/template.js') }}"></script>

    {{ cu('page specific') }}
    {% block js %}{% endblock %}

</body>
</html>
