{% from  '_helper.html' import c, cu, cuh %}
{%- set temp =  disable_comments %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ page_title|default('Vakarian') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vakarian Admin is an admin theme. >>>> CHANGE THIS <<<<">
    <link rel="icon" href="favicon.ico">

    {{ c('Open Sans Font from Google Fonts Library') }}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700,800' rel='stylesheet' type='text/css'>

    {{ c('Bootstrap CSS') }}
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap.min.css') }}">

    {{ c('Vendor CSS') }}
    <link rel="stylesheet" href="{{ static('css/lib/font-awesome.min.css') }}">

    {{ c('Page Specific Libraries') }}
    {% block vendor_css %}{%- endblock %}

    {{ c('Vakarian Base CSS') }}
    <link rel="stylesheet" href="{{ static('css/compiled/base.css') }}">
    <link rel="stylesheet" href="{{ static('css/compiled/template.css') }}">

    {{ c('Page Specific CSS') }}
    {% block css %}{%- endblock %}

    {{ c('Modernizer') }}
    <script src="{{ static('js/common/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
</head>

<body>

    {{ cuh('page wrapper') }}
    <div class="page-wrapper">

        {{ cuh('top navigation bar start') }}
        <nav class="navbar navbar-fixed-top topbar" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><i class="fa fa-flash"></i> Vakarian <span class="brand-subtext">Admin Panel</span></a>

                <ul class="navbar-items">
                    <li>
                        <button type="button" class="btn-navbar" id="sidebarNavToggle"><i class="fa fa-bars fa-fw"></i></button>
                    </li>
                </ul>

                <ul class="navbar-items pull-right">

                    {{ c('Search field') }}
                    <li class="hidden-xs">
                        <form class="navbar-search" id="navbarSearchForm">
                            <input class="form-control" type="text" placeholder="Search...">
                            <button type="submit" class="btn-navbar"><i class="fa fa-search fa-fw"></i></button>
                        </form>
                    </li>

                    {{ c('Notifications dropdown') }}
                    <li class="dropdown notifications-dropdown">
                        <button type="button" class="btn-navbar" data-toggle="dropdown">
                            <span class="events-count">3</span>
                            <i class="fa fa-exclamation-circle fa-fw"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a class="media" href="#">
                                <i class="fa fa-envelope fa-fw pull-left"></i>
                                <div class="media-body">
                                    <h5 class="media-heading">You have unread mails <span class="badge">2</span></h5>
                                    Last 9 min ago
                                </div>
                            </a></li>
                            <li><a class="media" href="#">
                                <i class="fa fa-exclamation-triangle fa-fw pull-left"></i>
                                <div class="media-body">
                                    <h5 class="media-heading">An error occured</h5>
                                    2 hr. ago
                                </div>
                            </a></li>
                            <li><a class="media" href="#">
                                <i class="fa fa-users fa-fw pull-left"></i>
                                <div class="media-body">
                                    <h5 class="media-heading">Unattended support tickets <span class="badge">6</span></h5>
                                    Last 6 hr. ago
                                </div>
                            </a></li>
                            <li role="presentation" class="divider"></li>
                            <li class="see-all"><a href="#">See all notifications</a></li>
                        </ul>
                    </li>

                    {{ c('Settings dropdown') }}
                    <li class="dropdown">
                        <button type="button" class="btn-navbar" data-toggle="dropdown"><i class="fa fa-gears fa-fw"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                            <li><a href="#"><i class="fa fa-question fa-fw"></i> Help</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>

        {{ cuh('Sidebar Start') }}
        {{ c('Add .sidebar-fixed below to make the sidebar fixed to the window') }}
        <div class="sidebar">

            <div class="sidebar-profile-wrapper clearfix">
                <div class="sidebar-profile clearfix">
                    <i class="fa fa-chevron-right"></i>
                    <img class="sidebar-profile-avatar img-circle" src="{{ static('img/male_1.jpg') }}">
                    <div class="sidebar-profile-content">
                        <div class="welcome">Welcome</div>
                        <div class="name">John Doe</div>
                        <div class="position">Sales Dept.</div>
                    </div>
                </div>
            </div>
            <div class="sidebar-search">
                <input type="text">
            </div>
            {% set active_parent_title=[] %}
            {% set active_page_title = [] %}
            <ul class="nav nav-sidebar">
                {% for item in nav_menu %}
                {% if item.children %}{# Item with children #}
                {# Checking if any children is active #}
                {% set active=[] %}
                {% for child in item.children %}
                    {% if child.template == template %}
                        {% do active.append(1) %}
                        {% do active_parent_title.append(item.title) %}
                        {% do active_page_title.append(child.title) %}
                    {% endif %}
                {% endfor %}
                <li{% if active %} class="active"{% endif %}>
                    <a href="#"><i class="fa fa-{{ item.icon }} fa-fw"></i> <span>{{ item.title }}</span></a>
                    <ul>
                        {% for child in item.children %}
                        <li{% if child.template == template %} class="active"{% endif %}><a href="{{ child.template }}">{{ child.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}{# Childless item #}
                <li{% if item.template == template %} class="active"{% endif %}><a href="{{ item.template }}"><i class="fa fa-{{ item.icon }} fa-fw"></i> <span>{{ item.title }}</span></a></li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>{{ cu('Sidebar finish') }}

        {{ cuh('content wrapper start') }}
        <div class="content-wrapper">
            <div class="row">
                <div class="{% if title_area_set %}col-sm-8{% else %}col-sm-12{% endif %}">
                    <h3 class="page-title">{{ page_title }}</h3>
                    {% if active_parent_title %}
                    <ul class="breadcrumb-v">
                        <li class="highlight"><a href="#">You are here</a></li>
                        <li><a href="#">{{ active_parent_title[0] }}</a></li>
                        <li><a href="#">{{ active_page_title[0] }}</a></li>
                    </ul>
                    {% endif %}
                    {% if page_subtitle %}
                    <div class="page-sub-title">{{ page_subtitle }}</div>
                    {% endif %}
                </div>
                {% if title_area_set %}<div class="col-sm-4">
                    {% block title_area %}{% endblock %}
                </div>{% endif %}
            </div>
            {% block main %}{% endblock %}
        </div>{{ c('/content wrapper') }}

    </div>{{ c('/page wrapper') }}

    <!------------------------
        JavaScript Includes
      ------------------------>

    {{ cu('jQuery and Bootstrap') }}
    <script src="{{ static('js/common/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static('js/common/jquery-ui.min.js') }}"></script>
    <script src="{{ static('js/common/bootstrap.min.js') }}"></script>

    {{ cu('vendor') }}
    {% block vendor_js %}{% endblock %}

    {{ cu('template') }}
    <script src="{{ static('js/template/template.js') }}"></script>

    {{ cu('page specific') }}
    {% block js %}{% endblock %}

</body>
</html>
