{% extends '_base.html' %}

{% set page_title = "Alerts" %}
{% set page_sub_title = "UI Elements / Alerts" %}

{% block css %}
{#    <link rel="stylesheet" href="{{ static('css/compiled/icons.css') }}"#}
{% endblock %}

{% block main %}
    <div class="alert alert-page alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div class="alert alert-page alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div class="alert alert-page alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div class="alert alert-page alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>

    <div class="widget">
        <h4 class="widget-title">Alerts</h4>

        <div class="widget-content">
            <div class="alert alert-default"><strong>Oh hey!</strong> This is just a general message meant for all.</div>
            <div class="alert alert-success"><strong>Well done!</strong> You successfully read this important alert message.</div>
            <div class="alert alert-info"><strong>Heads up!</strong> This alert needs your attention, but it's not super important.</div>
            <div class="alert alert-warning"><strong>Warning!</strong> Better check yourself, you're not looking too good.</div>
            <div class="alert alert-danger"><strong>Oh snap!</strong> Change a few things up and try submitting again.</div>

            <div class="widget-info">
                <p>Wrap any text and an optional dismiss button in <code>.alert</code> and one of the four contextual classes (e.g., <code>.alert-success</code>) for basic alert messages.</p>
                <pre>&lt;div class=&quot;alert alert-default&quot;&gt;...&lt;/div&gt;<br/>&lt;div class=&quot;alert alert-success&quot;&gt;...&lt;/div&gt;<br/>&lt;div class=&quot;alert alert-info&quot;&gt;...&lt;/div&gt;<br/>&lt;div class=&quot;alert alert-warning&quot;&gt;...&lt;/div&gt;<br/>&lt;div class=&quot;alert alert-danger&quot;&gt;...&lt;/div&gt;</pre>
                <p>To use a page level alert like shown at the beginning of the page, just add <code>.alert-page</code>.</p>
                <pre>&lt;div class=&quot;alert alert-page alert-success&quot;&gt;...&lt;/div&gt;</pre>
            </div>
        </div>
    </div>

    <div class="widget">
        <h4 class="widget-title">Dismissible Alerts</h4>

        <div class="widget-content">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Well done!</strong> You successfully read this important alert message.
            </div>

            <div class="widget-info">
                <p>Build on any alert by adding an optional <code>.alert-dismissable</code> and close button.</p>
                <pre>&lt;div class=&quot;alert alert-warning alert-dismissable&quot;&gt;<br/>    &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/button&gt;<br/>    &lt;strong&gt;Warning!&lt;/strong&gt; Better check yourself, you're not looking too good.<br/>&lt;/div&gt;</pre>
            </div>
        </div>
    </div>

    <div class="widget">
        <h4 class="widget-title">Links In Alerts</h4>

        <div class="widget-content">
            <div class="alert alert-default">
                <strong>Oh hey!</strong> This is just a <a href="#" class="alert-link">general message</a> meant for all.
            </div>

            <div class="alert alert-success">
                <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
            </div>

            <div class="alert alert-info">
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>

            <div class="alert alert-warning">
              <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too good</a>.
            </div>

            <div class="alert alert-danger">
              <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
            </div>

            <div class="widget-info">
                <p>Use the <code>.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>
                <pre>&lt;div class=&quot;alert alert-success&quot;&gt;<br/>  &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;...&lt;/a&gt;<br/>&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
{% endblock %}
