{% extends '_base.html' %}

{% set page_title = "Buttons" %}

{% set title_area_set = True %}
{% block title_area %}
    <button class="btn btn-sm btn-inverse pull-right page-title-btn" id="docToggle"><i class="fa fa-eye-slash"></i> Hide Documentation</button>
{% endblock %}

{% block main %}
    {{ c('Default Buttons Start') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Default Buttons</div></div>
        <div class="panel-body">
            <button class="btn btn-default">Default</button>
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-info">Info</button>
            <button class="btn btn-warning">Warning</button>
            <button class="btn btn-danger">Danger</button>
            <button class="btn btn-inverse">Inverse</button>

            <div class="widget-info">
                <p>The default flat button.</p>
                <pre>&lt;button class="btn btn-primary"&gt;Primary&lt;/button&gt;</pre>
                <p>Six color schemes are available - <code>.btn-default</code>, <code>.btn-primary</code>, <code>.btn-success</code>, <code>.btn-info</code>, <code>.btn-danger</code> and <code>.btn-inverse</code>.</p>
            </div>
        </div>
    </div>{{ c('Default Buttons End') }}

    {{ c('Rounded Buttons Start') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Rounded Buttons</div></div>
        <div class="panel-body">
            <button class="btn btn-rounded btn-default">Default</button>
            <button class="btn btn-rounded btn-primary">Primary</button>
            <button class="btn btn-rounded btn-success">Success</button>
            <button class="btn btn-rounded btn-info">Info</button>
            <button class="btn btn-rounded btn-warning">Warning</button>
            <button class="btn btn-rounded btn-danger">Danger</button>
            <button class="btn btn-rounded btn-inverse">Inverse</button>

            <div class="widget-info">
                <p>A bit rounded button with a gradient. Add <code>.btn-rounded</code> to any <code>.btn</code>.</p>
                <pre>&lt;button class="btn btn-rounded btn-primary"&gt;Primary&lt;/button&gt;</pre>
            </div>
        </div>
    </div>{{ c('Rounded Buttons End') }}

    {{ c('Flat Buttons Start') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Flat Buttons</div></div>
        <div class="panel-body">
            <button class="btn btn-flat btn-default">Default</button>
            <button class="btn btn-flat btn-primary">Primary</button>
            <button class="btn btn-flat btn-success">Success</button>
            <button class="btn btn-flat btn-info">Info</button>
            <button class="btn btn-flat btn-warning">Warning</button>
            <button class="btn btn-flat btn-danger">Danger</button>
            <button class="btn btn-flat btn-inverse">Inverse</button>

            <div class="widget-info">
                <p>Add <code>.btn-flat</code> to make any button flat.</p>
                <pre>&lt;button class="btn btn-flat btn-primary"&gt;Primary&lt;/button&gt;</pre>
            </div>
        </div>
    </div>{{ c('Flat Buttons End') }}

    {{ c('Wide Buttons Start') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Wide Buttons</div></div>
        <div class="panel-body">
            <button class="btn btn-wide btn-default">Default</button>
            <button class="btn btn-wide btn-primary">Primary</button>
            <button class="btn btn-wide btn-success">Success</button>
            <button class="btn btn-wide btn-info">Info</button>
            <button class="btn btn-wide btn-warning">Warning</button>
            <button class="btn btn-wide btn-danger">Danger</button>
            <button class="btn btn-wide btn-inverse">Inverse</button>

            <div class="widget-info">
                <p>Add <code>.btn-wide</code> class to make any button wide.</p>
                <pre>&lt;button class="btn btn-wide btn-primary"&gt;Primary&lt;/button&gt;</pre>
            </div>
        </div>
    </div>{{ c('Wide Buttons End') }}

    {{ c('Super Buttons Start') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Super Buttons</div></div>
        <div class="panel-body">
            <button class="btn btn-super btn-default">Default</button>
            <button class="btn btn-super btn-primary">Primary</button>
            <button class="btn btn-super btn-success">Success</button>
            <button class="btn btn-super btn-info">Info</button>
            <button class="btn btn-super btn-warning">Warning</button>
            <button class="btn btn-super btn-danger">Danger</button>
            <button class="btn btn-super btn-inverse">Inverse</button>

            <div class="widget-info">
                <p>Add <code>.btn-super</code> class to make any button go super. These are bolder and wider than <code>.btn-lg</code>.</p>
                <pre>&lt;button class="btn btn-super btn-primary"&gt;Primary&lt;/button&gt;</pre>
            </div>
        </div>
    </div>{{ c('Super Buttons End') }}

    {{ c('Disabled Buttons Start') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Disabled Buttons</div></div>
        <div class="panel-body">
            <button class="btn btn-default" disabled>Default</button>
            <button class="btn btn-primary" disabled>Primary</button>
            <button class="btn btn-success" disabled>Success</button>
            <button class="btn btn-info" disabled>Info</button>
            <button class="btn btn-warning" disabled>Warning</button>
            <button class="btn btn-danger" disabled>Danger</button>
            <button class="btn btn-inverse" disabled>Inverse</button>

            <div class="widget-info">
                <p>Buttons can be disabled by adding <code>disabled</code> attribute.</p>
                <pre>&lt;button class="btn btn-primary" disabled&gt;Primary&lt;/button&gt;</pre>
            </div>
        </div>
    </div>{{ c('Disabled Buttons End') }}

    {{ c('Active Buttons Start') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Active Buttons</div></div>
        <div class="panel-body">
            <button class="btn btn-default active">Default</button>
            <button class="btn btn-primary active">Primary</button>
            <button class="btn btn-success active">Success</button>
            <button class="btn btn-info active">Info</button>
            <button class="btn btn-warning active">Warning</button>
            <button class="btn btn-danger active">Danger</button>
            <button class="btn btn-inverse active">Inverse</button>

            <div class="widget-info">
                <p>Add <code>.active</code> class to change the state of the button to active.</p>
                <pre>&lt;button class="btn btn-primary active"&gt;Primary&lt;/button&gt;</pre>
            </div>
        </div>
    </div>{{ c('Active Buttons End') }}

    {{ c('Buttons With Icons Start') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Buttons With Icons</div></div>
        <div class="panel-body">
            <button class="btn btn-default"><i class="fa fa-desktop"></i> Default</button>
            <button class="btn btn-primary"><i class="fa fa-bug"></i> Primary</button>
            <button class="btn btn-success"><i class="fa fa-leaf"></i> Success</button>
            <button class="btn btn-info"><i class="fa fa-envelope"></i> Info</button>
            <button class="btn btn-warning"><i class="fa fa-fire"></i> Warning</button>
            <button class="btn btn-danger"><i class="fa fa-warning"></i> Danger</button>
            <button class="btn btn-inverse"><i class="fa fa-heart"></i> Inverse</button>

            <div class="widget-info">
                <p>Icons (for e.g. Font Awesome) can be added to buttons.</p>
                <pre>&lt;button class=&quot;btn btn-primary&quot;&gt;&lt;i class=&quot;fa fa-bug&quot;&gt;&lt;/i&gt; Primary&lt;/button&gt;</pre>
            </div>
        </div>
    </div>{{ c('Buttons With Icons End') }}

    <div class="row">

        {{ c('Icon Buttons Start') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Icon Buttons</div></div>
                <div class="panel-body">
                    <button class="btn btn-icon btn-default"><i class="fa fa-comments-o"></i></button>
                    <button class="btn btn-icon btn-primary"><i class="fa fa-rocket"></i></button>
                    <button class="btn btn-icon btn-success"><i class="fa fa-check"></i></button>
                    <button class="btn btn-icon btn-info"><i class="fa fa-flag"></i></button>
                    <button class="btn btn-icon btn-warning"><i class="fa fa-unlock-alt"></i></button>
                    <button class="btn btn-icon btn-danger"><i class="fa fa-exclamation"></i></button>
                    <button class="btn btn-icon btn-inverse"><i class="fa fa-map-marker"></i></button>

                    <div class="widget-info">
                        <p>Only icons can also be used in the buttons with <code>.btn-icon</code> class.</p>
                        <pre>&lt;button class=&quot;btn btn-icon btn-primary&quot;&gt;&lt;i class=&quot;fa fa-rocket&quot;&gt;&lt;/i&gt;&lt;/button&gt;</pre>
                    </div>
                </div>
            </div>
        </div>{{ c('Icon Buttons End') }}

        {{ c('Social Buttons Start') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Social Buttons</div></div>
                <div class="panel-body">
                    <button class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</button>
                    <button class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</button>
                    <button class="btn btn-google-plus"><i class="fa fa-google-plus"></i> Google+</button>
                    <button class="btn btn-icon btn-facebook"><i class="fa fa-facebook"></i></button>
                    <button class="btn btn-icon btn-twitter"><i class="fa fa-twitter"></i></button>
                    <button class="btn btn-icon btn-google-plus"><i class="fa fa-google-plus"></i></button>

                    <div class="widget-info">
                        <p><code>.btn-facebook</code>, <code>.btn-twitter</code> and <code>.btn-google-plus</code> classes can be used to for social buttons.</p>
                        <pre>&lt;button class=&quot;btn btn-facebook&quot;&gt;&lt;i class=&quot;fa fa-facebook&quot;&gt;&lt;/i&gt; Facebook&lt;/button&gt;<br><br>&lt;button class=&quot;btn btn-icon btn-twitter&quot;&gt;&lt;i class=&quot;fa fa-twitter&quot;&gt;&lt;/i&gt;&lt;/button&gt;</pre>
                    </div>
                </div>
            </div>
        </div>{{ c('Social Buttons End') }}

        {{ c('Block Buttons Start') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Block Buttons</div></div>
                <div class="panel-body">
                    <button class="btn btn-block btn-default">Default</button>
                    <button class="btn btn-block btn-primary">Primary</button>
                    <button class="btn btn-block btn-success">Success</button>
                    <button class="btn btn-block btn-info">Info</button>
                    <button class="btn btn-block btn-warning">Warning</button>
                    <button class="btn btn-block btn-danger">Danger</button>
                    <button class="btn btn-block btn-inverse">Inverse</button>

                    <div class="widget-info">
                        <p>Add <code>.btn-block</code> class to make any button block sized.</p>
                        <pre>&lt;button class="btn btn-block btn-primary"&gt;Primary&lt;/button&gt;</pre>
                    </div>
                </div>
            </div>
        </div>{{ c('Block Buttons End') }}

        {{ c('Buttons Sizes Start') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Button Sizes</div></div>
                <div class="panel-body">
                    <button class="btn btn-xs btn-default">Extra Small</button>
                    <button class="btn btn-sm btn-default">Small</button>
                    <button class="btn btn-default">Default</button>
                    <button class="btn btn-lg btn-default">Large</button>
                    <br>
                    <button class="btn btn-lg btn-success">Large</button>
                    <button class="btn btn-success">Default</button>
                    <button class="btn btn-sm btn-success">Small</button>
                    <button class="btn btn-xs btn-success">Extra Small</button>

                    <div class="widget-info">
                        <p><code>.btn-xs</code>, <code>.btn-sm</code> and <code>.btn-lg</code> can be used to make buttons extra small, small and large sized respectively.</p>
                        <pre>&lt;button class=&quot;btn btn-lg btn-default&quot;&gt;Large&lt;/button&gt;</pre>
                    </div>
                </div>
            </div>
        </div>{{ c('Buttons Sizes End') }}

        {{ c('Buttons Groups Start') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Buttons Groups</div></div>
                <div class="panel-body">
                    <div class="btn-group">
                        <button class="btn btn-success">Left</button>
                        <button class="btn btn-success">Middle</button>
                        <button class="btn btn-success">Right</button>
                    </div>
                    <br>

                    <div class="subtitle">Large Sized</div>
                    <div class="btn-group btn-group-lg">
                        <button class="btn btn-primary">Left</button>
                        <button class="btn btn-primary">Middle</button>
                        <button class="btn btn-primary">Right</button>
                    </div>
                    <br>

                    <div class="subtitle">Button Toolbar</div>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <button class="btn btn-default">1</button>
                            <button class="btn btn-default">2</button>
                            <button class="btn btn-default">3</button>
                            <button class="btn btn-default">4</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default">5</button>
                            <button class="btn btn-default">6</button>
                            <button class="btn btn-default">7</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default">8</button>
                        </div>
                    </div>

                    <div class="widget-info-fixed-size">
                        <div class="widget-info">
                            <p>Enclose a group of buttons within <code>.btn-group</code> class to make a button group.</p>
                        <pre>&lt;div class=&quot;btn-group&quot;&gt;
    &lt;button class=&quot;btn btn-default&quot;&gt;Button 1&lt;/button&gt;
    ...more buttons here...
&lt;/div&gt;</pre>
                            <p>To make a different sized button block, add <code>.btn-group-xs</code>, <code>.btn-group-sm</code> or <code>.btn-group-lg</code> class to <code>.btn-group</code> to make a button group extra small, small or large respectively.</p>
                        <pre>&lt;div class=&quot;btn-group btn-group-lg&quot;&gt;
    ...buttons here...
&lt;/div&gt;</pre>
                            <p>Sets of <code>&lt;div class="btn-group"&gt;</code> can be combined into a <code>&lt;div class="btn-toolbar"&gt;</code> for more complex components.</p>
                            <pre>&lt;div class=&quot;btn-toolbar&quot; role=&quot;toolbar&quot;&gt;
    &lt;div class=&quot;btn-group&quot;&gt;...&lt;/div&gt;
    &lt;div class=&quot;btn-group&quot;&gt;...&lt;/div&gt;
    ...more button groups here...
&lt;/div&gt;</pre>
                        </div>
                        <div class="expand">Expand</div>
                    </div>
                </div>
            </div>
        </div>{{ c('Buttons Groups End') }}

        {{ c('Nested Buttons Groups Start') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Nested Button Groups</div></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="subtitle">Horizontal Variation</div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default">2</button>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Dropdown
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Dropdown link</a></li>
                                        <li><a href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="subtitle">Vertical Variation</div>
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default">2</button>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Dropdown
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Dropdown link</a></li>
                                        <li><a href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-info-fixed-size">
                        <div class="widget-info">
                            <p>A <code>.btn-group</code> can be nested inside other as a dropdown menu.</p>
                            <pre>&lt;div class=&quot;btn-group&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;1&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;2&lt;/button&gt;

        &lt;div class=&quot;btn-group&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn btn-default dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;
                Dropdown
                &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;ul class=&quot;dropdown-menu&quot;&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Dropdown link&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Dropdown link&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;</pre>
                            <p>For vertical variation of the same, use <code>.btn-group-vertical</code> instead of <code>.btn-group</code> in the parent.</p>
                        </div>
                        <div class="expand">Expand</div>
                    </div>
                </div>
            </div>
        </div>{{ c('Nested Buttons Groups End') }}

        {{ c('Justified Buttons Groups Start') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Justified Button Groups</div></div>
                <div class="panel-body">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group"><button class="btn btn-default">Left</button></div>
                        <div class="btn-group"><button class="btn btn-default">Middle</button></div>
                        <div class="btn-group"><button class="btn btn-default">Right</button></div>
                    </div>

                    <div class="subtitle">With Dropdown</div>

                    <div class="btn-group btn-group-justified">
                        <div class="btn-group"><button class="btn btn-primary">Left</button></div>
                        <div class="btn-group"><button class="btn btn-primary">Middle</button></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Right Dropdown
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Dropdown link</a></li>
                                <li><a href="#">Dropdown link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget-info-fixed-size">
                        <div class="widget-info">
                            <p>Make a group of buttons stretch at equal sizes to span the entire width of its parent with <code>.btn-group-justified</code>.</p>
                            <pre>&lt;div class=&quot;btn-group btn-group-justified&quot;&gt;
    ...buttons...
&lt;/div&gt;</pre>
                            <p>Buttons with dropdowns are also supported.</p>
                            <p><a href="http://getbootstrap.com/components/#btn-groups-justified">Bootstrap Documentation Link</a></p>
                        </div>
                        <div class="expand">Expand</div>
                    </div>
                </div>
            </div>
        </div>{{ c('Justified Buttons Groups End') }}

    </div>

    {{ c('Single Buttons Dropdown Start') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Single Button Dropdowns</div></div>
        <div class="panel-body">

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Default <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Primary <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    Success <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    Info <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    Warning <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    Danger <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                    Inverse <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

            <br> {{ c('Split Button Dropdowns') }}
            <div class="subtitle">Split Button Dropdowns</div>

            <div class="btn-group">
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-inverse">Inverse</button>
                <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

            <br> {{ c('Button dropdown size variations') }}
            <div class="subtitle">Size Variations</div>

            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                    Extra Small <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    Small <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Default <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
                    Large <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

            <div class="widget-info-fixed-size">
                <div class="widget-info">
                    <p>Turn a button into a dropdown toggle with some basic markup changes.</p>
                    <pre>&lt;div class=&quot;btn-group&quot;&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;
    Default &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
&lt;/button&gt;
&lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
    ...more dropdown links...
&lt;/ul&gt;
&lt;/div&gt;</pre>
                    <p>Similarly, split button dropdowns can be created with the same markup changes, only with a separate button.</p>
                    <pre>&lt;div class=&quot;btn-group&quot;&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;
    &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;sr-only&quot;&gt;Toggle Dropdown&lt;/span&gt;
&lt;/button&gt;
&lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;&lt;/li&gt;
    ...more dropdown links...
&lt;/ul&gt;
&lt;/div&gt;</pre>
                    <p>Button dropdowns work with buttons of all sizes and can be set with <code>.btn-xs</code>, <code>.btn-sm</code> and <code>.btn-lg</code>.</p>
                </div>
                <div class="expand">Expand</div>
            </div>
        </div>
    </div>{{ c('Single Buttons Dropdown End') }}

{% endblock %}
