{% extends '_base.html' %}

{% set page_title = "Morris.js" %}

{% block vendor_css %}
    <link rel="stylesheet" href="{{ static('css/lib/morris-0.4.3.min.css') }}">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ static('css/compiled/charts.css') }}">
{%- endblock %}

{% block main %}
    {{ s('Area Chart') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Area Chart</div></div>
        <div class="panel-body">
            <div class="morris-chart" id="morrisArea"></div>
        </div>
    </div>{{ e('Area Chart') }}

    {{ s('Line Chart') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Line Chart</div></div>
        <div class="panel-body">
            <div class="morris-chart" id="morrisLine"></div>
        </div>
    </div>{{ e('Line Chart') }}

    <div class="row">

        {{ s('Donut Chart') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Donut Chart</div></div>
                <div class="panel-body">
                    <div class="morris-chart" id="morrisDonut"></div>
                </div>
            </div>
        </div>{{ e('Donut Chart') }}

        {{ s('Bar Chart') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Bar Chart</div></div>
                <div class="panel-body">
                    <div class="morris-chart" id="morrisBar"></div>
                </div>
            </div>
        </div>{{ e('Bar Chart') }}

    </div>{{ c('/.row') }}
{% endblock %}

{% block vendor_js %}
    <script src="{{ static('js/lib/raphael-min.js') }}"></script>
    <script src="{{ static('js/lib/charts/chart-morris.js/morris.min.js') }}"></script>
{% endblock %}

{% block js %}
    <script src="{{ static('js/template/charts-morris.js') }}"></script>
{% endblock %}
