{% extends '_base.html' %}

{% set page_title = "Flot charts" %}

{% block css %}
    <link rel="stylesheet" href="{{ static('css/compiled/charts.css') }}">
{%- endblock %}

{% block main %}
    {{ s('Realtime Graph') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Realtime Graph</div></div>
        <div class="panel-body">
            <div class="flot-chart" id="realtime"></div>
        </div>
    </div>{{ e('Realtime Graph') }}

    {{ s('Stacked Chart') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Stacked Chart</div></div>
        <div class="panel-body">
            <div class="flot-chart" id="stacked"></div>
        </div>
    </div>{{ e('Stacked Chart') }}

    <div class="row">

        {{ s('Interactive Chart') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Interactive Chart</div></div>
                <div class="panel-body">
                    <div class="flot-chart-container">
                        <div class="flot-chart" id="interactive"></div>
                    </div>
                </div>
            </div>
        </div>{{ e('Interactive Chart') }}

        {{ s('Donut Chart') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Donut Chart</div></div>
                <div class="panel-body">
                    <div class="flot-chart-container">
                        <div class="flot-chart" id="flotDonutChart"></div>
                    </div>
                </div>
            </div>
        </div>{{ e('Donut Chart') }}

    </div>
{% endblock %}

{% block vendor_js %}
    {{ c('Flot Charts') }}
    <script src="{{ static('js/plugins/chart-flot/jquery.flot.min.js') }}"></script>
    <script src="{{ static('js/plugins/chart-flot/jquery.flot.time.min.js') }}"></script>
    <script src="{{ static('js/plugins/chart-flot/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ static('js/plugins/chart-flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ static('js/plugins/chart-flot/jquery.flot.group.js') }}"></script>
    <script src="{{ static('js/plugins/chart-flot/jquery.flot.simplestack.js') }}"></script>
    <script src="{{ static('js/plugins/chart-flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ static('js/plugins/chart-flot/curvedLines.js') }}"></script>
{% endblock %}

{% block js %}
    <script src="{{ static('js/template/charts-flot.js') }}"></script>
{% endblock %}
