{% extends '_base.html' %}

{% set page_title = "Chart.js" %}

{% block css %}
    <link rel="stylesheet" href="{{ static('css/compiled/charts.css') }}">
{%- endblock %}

{% block main %}

    <!--

    //    Please see '{{ static('js/template/charts-chartjs.js') }}' for javascript code
    //    that is used to setup the charts below.

    -->

    {{ s('Line Chart') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Line Chart</div></div>
        <div class="panel-body">
            <canvas class="chartjs-chart" id="lineChart"></canvas>
        </div>
    </div>{{ e('Line Chart') }}

    {{ s('Bar Chart') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Bar Chart</div></div>
        <div class="panel-body">
            <canvas class="chartjs-chart" id="barChart"></canvas>
        </div>
    </div>{{ e('Bar Chart') }}

    <div class="row">

        {{ s('Radar Chart') }}
        <div class="col-sm-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Radar Chart</div></div>
                    <div class="panel-body">
                    <canvas class="chartjs-chart chartjs-chart-circular" id="radarChart"></canvas>
                </div>
            </div>
        </div>{{ e('Radar Chart') }}

        {{ s('Polar Chart') }}
        <div class="col-sm-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Polar Chart</div></div>
                    <div class="panel-body">
                    <canvas class="chartjs-chart chartjs-chart-circular" id="polarChart"></canvas>
                </div>
            </div>
        </div>{{ e('Polar Chart') }}

        {{ s('Pie Chart') }}
        <div class="col-sm-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Pie Chart</div></div>
                    <div class="panel-body">
                    <canvas class="chartjs-chart chartjs-chart-circular" id="pieChart"></canvas>
                </div>
            </div>
        </div>{{ e('Pie Chart') }}

        {{ s('Doughnut Chart') }}
        <div class="col-sm-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Doughnut Chart</div></div>
                    <div class="panel-body">
                    <canvas class="chartjs-chart chartjs-chart-circular" id="doughnutChart"></canvas>
                </div>
            </div>
        </div>{{ e('Doughnut Chart') }}

    </div>
{% endblock %}

{% block vendor_js %}
    <script src="{{ static('js/plugins/chart-chart.js/Chart.min.js') }}"></script>
{% endblock %}

{% block js %}
    <script src="{{ static('js/template/charts-chartjs.js') }}"></script>
{% endblock %}
