{% extends '_base.html' %}

{% set page_title = "Form Layouts" %}

{% block main %}

    <div class="row">

        {{ s('Basic Form') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Basic Form</div></div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="basicFormEmail">Email address</label>
                            <input type="email" class="form-control" id="basicFormEmail" name="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="basicFormPassword">Password</label>
                            <input type="password" class="form-control" id="basicFormPassword" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="basicFormFile">File input</label>
                            <div class="file-input-wrapper">
                                <div class="btn btn-v btn-default"><i class="fa fa-file"></i> Choose File</div>
                                <input type="file" name="some-file" id="basicFormFile">
                            </div>
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <button type="submit" class="btn btn-v btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>{{ e('Basic Form') }}


        {{ s('Placeholder Only Form') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Placeholder Only Form</div></div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="sr-only" for="placeholderOnlyName">Name</label>
                            <input type="text" class="form-control" id="placeholderOnlyName" name="name" placeholder="Name">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="placeholderOnlyEmail">Email</label>
                                    <input type="email" class="form-control" id="placeholderOnlyEmail" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="placeholderOnlyWebsite">Website</label>
                                    <input type="text" class="form-control" id="placeholderOnlyWebsite" name="website" placeholder="Website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="placeholderOnlyComment">Comment</label>
                            <textarea class="form-control" rows="6" id="placeholderOnlyComment" name="comment" placeholder="Comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-v btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>{{ e('Placeholder Only Form') }}

    </div>


    <div class="row">

        {{ s('Inline Form') }}
        <div class="col-lg-8">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Inline Form</div></div>
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="inlineFormEmail">Email address</label>
                            <input type="email" class="form-control" id="inlineFormEmail" name="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="inlineFormPassword">Password</label>
                            <input type="password" class="form-control" id="inlineFormPassword" name="password" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                              <input name="remember" type="checkbox"> <span>Remember me</span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-v btn-default">Sign in</button>
                    </form>
                </div>
            </div>
        </div>{{ e('Inline Form') }}

        {{ s('Modal Form') }}
        <div class="col-lg-4">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Modal Form</div></div>
                <div class="panel-body text-center">
                    <button class="btn btn-success" data-toggle="modal" data-target="#modalForm">
                        Open Modal Form
                    </button>
                    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalForm" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <label class="sr-only" for="contactName">Name</label>
                                            <input type="text" class="form-control" id="contactName" name="contactName" placeholder="Name">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="sr-only" for="contactEmail">Email</label>
                                                    <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="sr-only" for="contactPhone">Phone Number</label>
                                                    <input type="text" class="form-control" id="contactPhone" name="contactPhone" placeholder="Phone Number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="contactMessage">Message</label>
                                            <textarea class="form-control" rows="6" id="contactMessage" name="contactMessage" placeholder="Message"></textarea>
                                        </div>
                                        <div class="text-right">
                                            <button type="button" class="btn btn-v btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-v btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>{{ e('Modal Form') }}
    
    </div>


    {{ s('Horizontal Form') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Horizontal Form</div></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="horizontalFormName">Full Name</label>
                    <div class="col-sm-9  col-md-10">
                        <input type="email" class="form-control" id="horizontalFormName" name="name" placeholder="Full name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="horizontalFormEmail">Email address</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="email" class="form-control" id="horizontalFormEmail" name="email" placeholder="Email address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="horizontalFormPassword">Password</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="password" class="form-control" id="horizontalFormPassword" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="horizontalFormPlan">Plan</label>
                    <div class="col-sm-9 col-md-10">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-v btn-default active">
                                <input type="radio" name="options" id="option1" value="free"> Free
                            </label>
                            <label class="btn btn-v btn-default">
                                <input type="radio" name="options" id="option2" value="basic"> Basic
                            </label>
                            <label class="btn btn-v btn-default">
                                <input type="radio" name="options" id="option3" value="premium"> Premium
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="terms-n-conditions">
                                <span>I agree to the terms & conditions</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10">
                        <button type="submit" class="btn btn-v btn-primary">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>{{ e('Horizontal Form') }}

{% endblock %}
