{% extends '_base.html' %}

{% set page_title = "Form Wizard" %}

{% block vendor_css %}
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/lib/fuelux-wizard.css') }}">
    <link rel="stylesheet" href="{{ static('css/lib/bootstrapValidator.min.css') }}">
{% endblock %}

{% block main %}
            <div class="fuelux">
                <div id="serverOrderWizard" class="wizard">
                    <ul class="steps">
                        <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Server Config<span class="chevron"></span></li>
                        <li data-target="#step2"><span class="badge">2</span>Registration<span class="chevron"></span></li>
                        <li data-target="#step3"><span class="badge">3</span>Payment<span class="chevron"></span></li>
                    </ul>
                    <div class="actions">
                        <button type="button" class="btn btn-v btn-primary btn-prev"><i class="fa fa-arrow-left"></i> Prev</button>
                        <button type="button" class="btn btn-v btn-primary btn-next" data-last="Finish">Next <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>

                <div class="step-content">
                    <form id="serverOrderForm" name="serverOrderForm" class="form-horizontal"></form>
                    <div class="step-pane active" id="step1">
                        <h4>Vakarian Servers <small>Server Configuration</small></h4>
                        <hr>
                        <form id="serverConfigForm" class="form-horizontal">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-sm-2">CPU Cores</label>
                                        <div class="col-lg-8 col-sm-10">
                                            <select class="selectpicker" data-style="btn-primary">
                                                <option>1 Core</option>
                                                <option selected>2 Cores</option>
                                                <option>4 Cores</option>
                                                <option>8 Cores</option>
                                                <option>16 Cores</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-sm-2">Storage</label>
                                        <div class="col-lg-8 col-sm-10">
                                            <select class="selectpicker" data-style="btn-primary" data-show-subtext="true">
                                                <optgroup label="SSD">
                                                    <option data-subtext="SSD">10 GB</option>
                                                    <option data-subtext="SSD" selected>20 GB</option>
                                                    <option data-subtext="SSD">60 GB</option>
                                                    <option data-subtext="SSD">120 GB</option>
                                                </optgroup>
                                                <optgroup label="HDD">
                                                    <option data-subtext="HDD">20 GB</option>
                                                    <option data-subtext="HDD">40 GB</option>
                                                    <option data-subtext="HDD">100 GB</option>
                                                    <option data-subtext="HDD">250 GB</option>
                                                    <option data-subtext="HDD">500 GB</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-sm-2">RAM</label>
                                        <div class="col-lg-8 col-sm-10">
                                            <select class="selectpicker" data-style="btn-primary">
                                                <option>256 MB</option>
                                                <option selected>512 MB</option>
                                                <option>1 GB</option>
                                                <option>2 GB</option>
                                                <option>4 GB</option>
                                                <option>8 GB</option>
                                                <option>16 GB</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-sm-2">Bandwidth</label>
                                        <div class="col-lg-8 col-sm-10">
                                            <select class="selectpicker" data-style="btn-primary">
                                                <option>500GB</option>
                                                <option selected>1 TB</option>
                                                <option>2 TB</option>
                                                <option>4 TB</option>
                                                <option>8 TB</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-sm-2">Virtualization</label>
                                        <div class="col-lg-8 col-sm-10">
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-v btn-default">
                                                    <input type="radio" name="options" id="option1"> KVM
                                                </label>
                                                <label class="btn btn-v btn-default active">
                                                    <input type="radio" name="options" id="option2" checked> OpenVZ
                                                </label>
                                                <label class="btn btn-v btn-default">
                                                    <input type="radio" name="options" id="option2"> Xen
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-sm-2">Extra IPs</label>
                                        <div class="col-lg-8 col-sm-10">
                                            <select class="selectpicker" data-style="btn-info">
                                                <option selected>None</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>5</option>
                                                <option>10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-sm-2">Location</label>
                                        <div class="col-lg-8 col-sm-10">
                                            <select class="selectpicker" data-style="btn-success" data-show-subtext="true">
                                                <option data-subtext="USA">New York</option>
                                                <option data-subtext="USA">San Francisco</option>
                                                <option data-subtext="USA" selected>Los Angeles</option>
                                                <option data-subtext="USA">Florida</option>
                                                <option data-subtext="Netherlands">Amsterdam</option>
                                                <option data-subtext="Germany">Frankfurt</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-4 col-sm-2">Operating System</label>
                                        <div class="col-lg-8 col-sm-10">
                                            <select class="selectpicker" data-style="btn-default" data-show-subtext="true">
                                                <optgroup label="x64">
                                                    <option data-subtext="x64">Ubuntu 14.04</option>
                                                    <option data-subtext="x64">Ubuntu 13.10</option>
                                                    <option data-subtext="x64" selected>Ubuntu 12.04</option>
                                                    <option data-subtext="x64">CentOS 6.5</option>
                                                    <option data-subtext="x64">CentOS 5.8</option>
                                                    <option data-subtext="x64">Debian 7</option>
                                                    <option data-subtext="x64">Debian 6</option>
                                                    <option data-subtext="x64">Fedora 19</option>
                                                    <option data-subtext="x64">Fedora 17</option>
                                                </optgroup>
                                                <optgroup label="x32">
                                                    <option data-subtext="x32">Ubuntu 14.04</option>
                                                    <option data-subtext="x32">Ubuntu 13.10</option>
                                                    <option data-subtext="x32">Ubuntu 12.04</option>
                                                    <option data-subtext="x32">CentOS 6.5</option>
                                                    <option data-subtext="x32">CentOS 5.8</option>
                                                    <option data-subtext="x32">Debian 7</option>
                                                    <option data-subtext="x32">Debian 6</option>
                                                    <option data-subtext="x32">Fedora 19</option>
                                                    <option data-subtext="x32">Fedora 17</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="step-pane" id="step2">
                        <h4>Vakarian Servers <small>Customer Information</small></h4>
                        <hr>
                        <form id="customerInfoForm" class="form-horizontal">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3 col-sm-2">Email Address</label>
                                        <div class="col-lg-9 col-sm-10">
                                            <input class="form-control" name="email" tabindex="5" type="email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3 col-sm-2">Password</label>
                                        <div class="col-lg-9 col-sm-10">
                                            <input class="form-control" name="password" tabindex="5" type="password" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3 col-sm-2">First Name</label>
                                        <div class="col-lg-9 col-sm-10">
                                            <input class="form-control" name="first-name" tabindex="3" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="last-name" class="control-label col-lg-3 col-sm-2">Last Name</label>
                                        <div class="col-lg-9 col-sm-10">
                                            <input class="form-control" id="last-name" name="last-name" tabindex="4" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3 col-sm-2">Phone Number</label>
                                        <div class="col-lg-9 col-sm-10">
                                            <input class="form-control" name="phone" tabindex="6">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3 col-sm-2">Street Address</label>
                                        <div class="col-lg-9 col-sm-10">
                                            <input class="form-control" name="street" tabindex="7" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3 col-sm-2">City</label>
                                        <div class="col-lg-9 col-sm-10">
                                            <input class="form-control" name="city" tabindex="8" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3 col-sm-2">ZIP</label>
                                        <div class="col-lg-9 col-sm-10">
                                            <input class="form-control" name="zip" tabindex="10" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3 col-sm-2">Country</label>
                                        <div class="col-lg-9 col-sm-10">
                                            <select class="selectpicker" data-style="btn-primary" id="country" tabindex="9" required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="step-pane" id="step3">
                        <h4>Vakarian Servers <small>Payment</small></h4>
                        <hr>

                        <div class="row">
                            <div class="col-lg-6">
                                <h4 class="text-center">Credit Card</h4>
                                <form id="customerInfoForm" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3 col-sm-2">Email Address</label>
                                        <div class="col-lg-9 col-sm-10">
                                            <input class="form-control" name="email" tabindex="5" type="email" required>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-sm-2">Password</label>
                                    <div class="col-lg-9 col-sm-10">
                                        <input class="form-control" name="password" tabindex="5" type="password" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
{% endblock %}

{% block vendor_js %}
    <script src="{{ static('js/lib/form-elements/bootstrap-select.min.js') }}"></script>
    <script src="{{ static('js/lib/form-elements/bootstrapValidator.min.js') }}"></script>
    <script src="{{ static('js/lib/fuelux-loader.js') }}"></script>
{% endblock %}

{% block js %}
    <script src="{{ static('js/template/form-wizard.js') }}"></script>
{% endblock %}
