{% extends '_base.html' %}

{% set page_title = "Form Elements" %}

{% block vendor_css %}
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap-slider.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap-switch.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap-tagsinput.css') }}">
{% endblock %}

{% block main %}


    <div class="row">

        {{ s('Radio Widget') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Radio Box</div></div>
                <div class="panel-body">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            <span>Option Two</span>
                        </label>
                    </div>

                    <div class="subtitle">Inline</div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1">
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2" checked>
                            <span>Option Two</span>
                        </label>
                    </div>

                    <div class="subtitle">Disabled</div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios3" id="optionsRadios1" value="option1" checked disabled>
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios3" id="optionsRadios2" value="option2" disabled>
                            <span>Option Two</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>{{ e('Radio Widget') }}

        {{ s('Checkbox Widget') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Check Box</div></div>
                <div class="panel-body">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="optionsRadios2" id="optionsRadios1" value="option1" checked>
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="optionsRadios2" id="optionsRadios2" value="option2">
                            <span>Option Two</span>
                        </label>
                    </div>

                    <div class="subtitle">Inline</div>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1">
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" checked>
                            <span>Option Two</span>
                        </label>
                    </div>

                    <div class="subtitle">Disabled</div>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked disabled>
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" disabled>
                            <span>Option Two</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>{{ e('Checkbox Widget') }}

    </div>

    {{ s('Bootstrap Switch Widget') }}
    <div class="panel panel-clean switch-widget">
        <div class="panel-heading"><div class="panel-title">Switches</div></div>
        <div class="panel-body">
            <input type="checkbox" name="my-checkbox" class="switch">
            <input type="checkbox" name="my-checkbox" class="switch" checked>
            <input type="checkbox" name="my-checkbox" class="switch" data-on-color="success" checked>
            <input type="checkbox" name="my-checkbox" class="switch" data-on-color="info" checked>
            <input type="checkbox" name="my-checkbox" class="switch" data-on-color="warning" checked>
            <input type="checkbox" name="my-checkbox" class="switch" data-on-color="danger" checked>
            <input type="checkbox" name="my-checkbox" class="switch" data-on-color="inverse" checked>
        </div>
    </div>{{ e('Bootstrap Switch Widget') }}

    {{ s('Bootstrap Tagsinput Widget') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Tags</div></div>
        <div class="panel-body">
            <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="tagsinput" />
        </div>
    </div>{{ e('Bootstrap Tagsinput Widget') }}

    {{ s('Bootstrap Slider Widget') }}
    <div class="panel panel-clean tabs-fixed-slim">
        <div class="panel-heading"><div class="panel-title">Bootstrap Slider</div></div>


        <ul class="nav nav-tabs fixed">
            <li class="active"><a href="#horizontalSliders" data-toggle="tab">Horizontal Sliders</a></li>
            <li><a href="#verticalSliders" data-toggle="tab">Vertical Sliders</a></li>
        </ul>

        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active" id="horizontalSliders">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Slider With Range 1-100</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="29" data-slider-orientation="horizontal" data-slider-selection="before">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">With Incremental Step Of 10</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="10" data-slider-value="60" data-slider-orientation="horizontal" data-slider-selection="before">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ranged Slider Between -20 and 120</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="-20" data-slider-max="120" data-slider-step="5" data-slider-value="[40, 90]" data-slider-orientation="horizontal" data-slider-selection="before">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Disabled</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="12" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-enabled="false">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">With Square Handle</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="48" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-handle="square">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">With Triangular Handle</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="72" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-handle="triangle">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="verticalSliders">
                    <div class="text-center">
                        <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="29" data-slider-orientation="vertical" data-slider-selection="before">
                        <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="10" data-slider-value="60" data-slider-orientation="vertical" data-slider-selection="before">
                        <input type="text" class="slider" data-slider-min="-20" data-slider-max="120" data-slider-step="5" data-slider-value="[40, 90]" data-slider-orientation="vertical" data-slider-selection="before">
                        <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="48" data-slider-orientation="vertical" data-slider-selection="before" data-slider-enabled="false">
                        <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="72" data-slider-orientation="vertical" data-slider-selection="before" data-slider-handle="square">
                    </div>
                </div>
            </div>

        </div>
    </div>{{ e('Bootstrap Slider Widget') }}

    {{ s('Bootstrap Select Widget') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Bootstrap Select</div></div>
        <div class="panel-body">

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Basic Selects</label>
                    <div class="col-sm-10">
                        <select class="selectpicker">
                            <option selected>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                        <select class="selectpicker" data-style="btn-success">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option selected>Relish</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Disabled</label>
                    <div class="col-sm-10">
                        <select class="selectpicker" disabled>
                            <option selected>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                        <select class="selectpicker" data-style="btn-success" disabled>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option selected>Relish</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">With Multiple Selects</label>
                    <div class="col-sm-10">
                        <select class="selectpicker" multiple>
                            <option selected>Mustard</option>
                            <option>Ketchup</option>
                            <option selected>Relish</option>
                        </select>
                        <select class="selectpicker" data-style="btn-success" multiple>
                            <option selected>Mustard</option>
                            <option selected>Ketchup</option>
                            <option selected>Relish</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nothing Selected</label>
                    <div class="col-sm-10">
                        <select class="selectpicker" multiple>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                        <select class="selectpicker" data-style="btn-success" multiple>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">With Option Groups</label>
                    <div class="col-sm-10">
                        <select class="selectpicker">
                            <optgroup label="Picnic">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </optgroup>
                            <optgroup label="Camping">
                                <option selected>Tent</option>
                                <option>Flashlight</option>
                                <option>Toilet Paper</option>
                            </optgroup>
                        </select>
                        <select class="selectpicker" data-style="btn-success">
                            <optgroup label="Picnic">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </optgroup>
                            <optgroup label="Camping">
                                <option>Tent</option>
                                <option selected>Flashlight</option>
                                <option>Toilet Paper</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">With Search Field</label>
                    <div class="col-sm-10">
                        <select class="selectpicker" data-live-search="true">
                            <option selected>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                        </select>
                        <select class="selectpicker" data-style="btn-success" data-live-search="true">
                            <option selected>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">With Subtext</label>
                    <div class="col-sm-10">
                        <select class="selectpicker" data-show-subtext="true">
                            <option data-subtext="French's">Mustard</option>
                            <option data-subtext="Heinz">Ketchup</option>
                            <option data-subtext="Sweet">Relish</option>
                            <option data-subtext="Miracle Whip">Mayonnaise</option>
                            <option data-divider="true"></option>
                            <option data-subtext="Honey">Barbecue Sauce</option>
                            <option data-subtext="Ranch">Salad Dressing</option>
                            <option data-subtext="Sweet &amp; Spicy">Tabasco</option>
                            <option data-subtext="Chunky">Salsa</option>
                        </select>
                        <select class="selectpicker" data-show-subtext="true" data-style="btn-success">
                            <option data-subtext="French's">Mustard</option>
                            <option data-subtext="Heinz">Ketchup</option>
                            <option data-subtext="Sweet">Relish</option>
                            <option data-subtext="Miracle Whip">Mayonnaise</option>
                            <option data-divider="true"></option>
                            <option data-subtext="Honey">Barbecue Sauce</option>
                            <option data-subtext="Ranch">Salad Dressing</option>
                            <option data-subtext="Sweet &amp; Spicy">Tabasco</option>
                            <option data-subtext="Chunky">Salsa</option>
                        </select>
                    </div>
                </div>
            </form>

            <div class="subtitle">Different Colors</div>
            <select class="selectpicker">
                <option selected>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
            <select class="selectpicker" data-style="btn-primary">
                <option>Mustard</option>
                <option selected>Ketchup</option>
                <option>Relish</option>
            </select>
            <select class="selectpicker" data-style="btn-success">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option selected>Relish</option>
            </select>
            <select class="selectpicker" data-style="btn-info">
                <option selected>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
            <select class="selectpicker" data-style="btn-warning">
                <option>Mustard</option>
                <option selected>Ketchup</option>
                <option>Relish</option>
            </select>
            <select class="selectpicker" data-style="btn-danger">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option selected>Relish</option>
            </select>
        </div>
    </div>{{ e('Bootstrap Select Widget') }}

    {{ s('jQuery Knob Widget') }}
    <div class="panel panel-clean knobs-widget">
        <div class="panel-heading"><div class="panel-title">jQuery Knob</div></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="subtitle">Normal Knob</div>
                    <input type="text" value="75" class="dial" data-fgColor="#1abc9c">
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="subtitle">Display Input Disabled</div>
                    <input type="text" value="60" class="dial" data-displayInput=false data-fgColor="#53a5db">
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="subtitle">Display Previous Value</div>
                    <input type="text" value="45" class="dial" data-displayPrevious=true data-fgColor="#2980b9">
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="subtitle">Cursor Mode</div>
                    <input type="text" class="dial" value="23" data-cursor=true data-min="-50" data-max="50" value="20" data-fgColor="#e74c3c">
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="subtitle">Angle Offset</div>
                    <input type="text" class="dial" data-angleoffset="90" data-linecap="round" data-min="0" data-max="100" value="39" data-fgColor="#34495e">
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="subtitle">Angle Offset and Arc</div>
                    <input type="text" class="dial" data-angleOffset="-125" data-angleArc="250" data-min="0" data-max="120" value="78" data-fgColor="#bdc3c7">
                </div>
            </div>
        </div>
    </div>{{ e('jQuery Knob Widget') }}

    {{ s('Form Inputs Widget') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Form Inputs</div></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="simpleInputField">Simple Input Field</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="simpleInputField">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="passwordField">Password Field</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="passwordField" value="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="simpleInputFieldWithPlaceholder">Placeholder</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="simpleInputFieldWithPlaceholder" placeholder="Some Placeholder">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="simpleInputFieldWithHelpText">Help Text</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="simpleInputFieldWithHelpText">
                        <div class="help-block">This text is supposed to help you</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="simpleInputFieldWithPredefinedText">Predefined Text</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="simpleInputFieldWithPredefinedText" value="Oh hello!">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Static Control</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">email@example.com</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="disabledInputField">Disabled</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="disabledInputField" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="simpleTextArea">Text Area</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" id="simpleTextArea"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>{{ e('Form Inputs Widget') }}

    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Input Mask</div></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputMaskDate1">Date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control inputmask" id="inputMaskDate1" data-inputmask="'alias': 'date'" placeholder="dd/mm/yyyy">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputMaskDate2">Date Alternate</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control inputmask" id="inputMaskDate2" data-inputmask="'alias': 'mm/dd/yyyy'" placeholder="mm/dd/yyyy">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputMaskPhoneUS">US Phone No</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control inputmask" id="inputMaskPhoneUS" data-inputmask="'mask': '999-999-9999 [x99999]', 'showTooltip': true" placeholder="999-999-9999 [x99999]">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputMaskPhoneIntl">Intl. Phone No</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control inputmask" id="inputMaskPhoneIntl" data-inputmask="'mask': '+099 99 99 9999[9]-9999', 'showTooltip': true" placeholder="+099 99 99 9999[9]-9999">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputMaskLicensePlate">License Plate</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control inputmask" id="inputMaskLicensePlate" data-inputmask="'mask': '[9-]AAA-999'" placeholder="[9-]AAA-999">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputMaskIPAddr">IP Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control inputmask" id="inputMaskIPAddr" data-inputmask="'alias': 'ip'" placeholder="255.255.255.255">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputMaskEmail">Email Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control inputmask" id="inputMaskEmail" data-inputmask="'alias': 'email'" placeholder="mail@example.com">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">

        {{ s('Input Groups') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Input Groups</div></div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-addon">.00</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control">
                        <span class="input-group-addon">.00</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox">
                        </span>
                        <input type="text" class="form-control" placeholder="With Checkbox">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="radio">
                        </span>
                        <input type="text" class="form-control" placeholder="With Radio">
                    </div>

                    <div class="subtitle">Input Groups Sizing</div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                </div>
            </div>
        </div>{{ e('Input Groups') }}

        {{ s('Input Groups With Buttons') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Input Groups With Buttons</div></div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Save For Later</button>
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>

                    {{ c('Buttons with dropdowns') }}
                    <div class="subtitle">Buttons With Dropdowns</div>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    {{ c('Segmented buttons') }}
                    <div class="subtitle">Segmented Buttons</div>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default">Action</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                            <button type="button" class="btn btn-default">Action</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle dropdown</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>{{ e('Input Groups With Buttons') }}

        <div class="clearfix"></div>

        {{ s('Form Input Validation States Widget') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Form Input Validation States</div></div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group has-success">
                            <label class="col-sm-2 control-label" for="successField">Success</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="successField" value="John Doe">
                                <div class="help-block">This is a valid input</div>
                            </div>
                        </div>
                        <div class="form-group has-warning">
                            <label class="col-sm-2 control-label" for="warningField">Warning</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="warningField" value="1234">
                                <div class="help-block">You should choose a stronger password</div>
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label" for="errorField" value="This is a valid input">Error</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="errorField" value="mail at example.com">
                                <div class="help-block">Invalid email</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>{{ e('Form Input Validation States Widget') }}

        {{ s('Control Sizing Widget') }}
        <div class="col-md-6">
            <div class="panel panel-clean">
                <div class="panel-heading"><div class="panel-title">Control Sizing</div></div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label  class="sr-only control-label" for="inputFieldSmall">Small</label>
                            <input type="text" class="form-control input-sm" id="inputFieldSmall" placeholder="Small">
                        </div>
                        <div class="form-group">
                            <label  class="sr-only control-label" for="inputFieldNormal">Normal</label>
                            <input type="text" class="form-control" id="inputFieldNormal" placeholder="Normal">
                        </div>
                        <div class="form-group">
                            <label  class="sr-only control-label" for="inputFieldLarge">Large</label>
                            <input type="text" class="form-control input-lg" id="inputFieldLarge" placeholder="Large">
                        </div>
                    </form>
                </div>
            </div>
        </div>{{ e('Control Sizing Widget') }}

    </div>

    {{ s('Column Sizing Widget') }}
    <div class="panel panel-clean column-sizing-widget">
        <div class="panel-heading"><div class="panel-title">Column Sizing</div></div>
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1"><input type="text" class="form-control" placeholder=".col-md-1"></div>
                    <div class="col-md-11"><input type="text" class="form-control" placeholder=".col-md-11"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2"><input type="text" class="form-control" placeholder=".col-md-2"></div>
                    <div class="col-md-10"><input type="text" class="form-control" placeholder=".col-md-10"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3"><input type="text" class="form-control" placeholder=".col-md-3"></div>
                    <div class="col-md-9"><input type="text" class="form-control" placeholder=".col-md-9"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4"><input type="text" class="form-control" placeholder=".col-md-4"></div>
                    <div class="col-md-8"><input type="text" class="form-control" placeholder=".col-md-8"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5"><input type="text" class="form-control" placeholder=".col-md-5"></div>
                    <div class="col-md-7"><input type="text" class="form-control" placeholder=".col-md-7"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder=".col-md-6"></div>
                    <div class="col-md-6"><input type="text" class="form-control" placeholder=".col-md-6"></div>
                </div>
            </div>
        </div>
    </div>{{ e('Column Sizing Widget') }}
{% endblock %}

{% block vendor_js %}
    <script src="{{ static('js/lib/form-elements/jquery.inputmask.bundle.min.js') }}"></script>
    <script src="{{ static('js/lib/form-elements/bootstrap-select.min.js') }}"></script>
    <script src="{{ static('js/lib/form-elements/bootstrap-slider.min.js') }}"></script>
    <script src="{{ static('js/lib/form-elements/bootstrap-switch.min.js') }}"></script>
    <script src="{{ static('js/lib/form-elements/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ static('js/lib/form-elements/jquery.knob.js') }}"></script>
{% endblock %}

{% block js %}
    <script>
        $(function() {
            // Initialize Bootstrap Slider
            $("input.slider").slider({
                tooltip_separator: '-'
            });

            // Initialize Bootstrap Select
            $(".selectpicker").selectpicker();

            // Initialize Bootstrap Switch
            $(".switch").bootstrapSwitch();

            // Initialize Bootstrap Tagsinput
            $(".tagsinput").tagsinput({
                tagClass: function() {
                    return 'label label-primary';
                }
            });

            // Initialize jQuery Knob
            $(".dial").knob({
                thickness: 0.2,
                width: 126,
                height: 126
            });

            $('.inputmask').inputmask();
        });
    </script>
{% endblock %}
