{% extends '_base.html' %}

{% set page_title = "Form Elements" %}

{% block css %}
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap-slider.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap-switch.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/lib/bootstrap-tagsinput.css') }}">
{% endblock %}

{% block main %}
    <div class="row">

        {{ c('Basic Form Starts') }}
        <div class="col-md-5">
            <div class="widget">
                <h4 class="widget-title">Basic Form</h4>
                <div class="widget-content">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <div class="file-input-wrapper">
                                <div class="btn btn-v btn-default"><i class="fa fa-file"></i> Choose File</div>
                                <input type="file" id="exampleInputFile">
                            </div>
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out
                            </label>
                        </div>
                        <button type="submit" class="btn btn-v btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {{ c('Basic Form Ends') }}

        {{ c('Horizontal Form Starts') }}
        <div class="col-md-7">
            <div class="widget">
                <h4 class="widget-title">Horizontal Form</h4>
                <div class="widget-content">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="exampleInputName2">Full Name</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="exampleInputName2" placeholder="Full name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="exampleInputEmail2">Email address</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="exampleInputPassword2">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="exampleInputPassword2">Plan</label>
                            <div class="col-sm-9">
                                <div class="btn-group" data-toggle="buttons">
                                  <label class="btn btn-v btn-default active">
                                    <input type="radio" name="options" id="option1"> Free
                                  </label>
                                  <label class="btn btn-v btn-default">
                                    <input type="radio" name="options" id="option2"> Basic
                                  </label>
                                  <label class="btn btn-v btn-default">
                                    <input type="radio" name="options" id="option3"> Premium
                                  </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        <span>I agree to the terms & conditions</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-v btn-primary">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{ c('Horizontal Form Ends') }}

    </div>

    {{ c('Inline Form Starts') }}
    <div class="widget">
        <h4 class="widget-title">Inline Form</h4>
        <div class="widget-content">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword3">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> <span>Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-v btn-default">Sign in</button>
            </form>
        </div>
    </div>
    {{ c('Inline Form Ends') }}

    {{ c('Form Inputs Widget Starts') }}
    <div class="widget">
        <h4 class="widget-title">Form Inputs</h4>
        <div class="widget-content">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="simpleInputField">Simple Input Field</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="simpleInputField">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="passwordField">Password Field</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="passwordField" value="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="simpleInputFieldWithPlaceholder">Placeholder</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="simpleInputFieldWithPlaceholder" placeholder="Some Placeholder">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="simpleInputFieldWithHelpText">Help Text</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="simpleInputFieldWithHelpText">
                        <div class="help-block">This text is supposed to help you</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="simpleInputFieldWithPredefinedText">Predefined Text</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="simpleInputFieldWithPredefinedText" value="Oh hello!">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Static Control</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">email@example.com</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="disabledInputField">Disabled</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="disabledInputField" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="simpleTextArea">Text Area</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" id="simpleTextArea"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{ c('Form Inputs Widget Ends') }}

    <div class="row">

        {{ c('Radio Widget Starts') }}
        <div class="col-md-6">
            <div class="widget">
                <h4 class="widget-title">Radio Box</h4>
                <div class="widget-content">

                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            <span>Option Two</span>
                        </label>
                    </div>

                    <div class="widget-subtitle">Inline</div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1">
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2" checked>
                            <span>Option Two</span>
                        </label>
                    </div>

                    <div class="widget-subtitle">Disabled</div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios3" id="optionsRadios1" value="option1" checked disabled>
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios3" id="optionsRadios2" value="option2" disabled>
                            <span>Option Two</span>
                        </label>
                    </div>

                </div>
            </div>
        </div>
        {{ c('Radio Widget Ends') }}

        {{ c('Checkbox Widget Starts') }}
        <div class="col-md-6">
            <div class="widget">
                <h4 class="widget-title">Check Box</h4>
                <div class="widget-content">

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="optionsRadios2" id="optionsRadios1" value="option1" checked>
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="optionsRadios2" id="optionsRadios2" value="option2">
                            <span>Option Two</span>
                        </label>
                    </div>

                    <div class="widget-subtitle">Inline</div>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1">
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" checked>
                            <span>Option Two</span>
                        </label>
                    </div>

                    <div class="widget-subtitle">Disabled</div>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked disabled>
                            <span>Option One</span>
                        </label>
                    </div>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" disabled>
                            <span>Option Two</span>
                        </label>
                    </div>

                </div>
            </div>
        </div>
        {{ c('Checkbox Widget Ends') }}

    </div>

    {{ c('Bootstrap Switch Widget Starts') }}
    <div class="widget switch-widget">
        <h4 class="widget-title">Switches</h4>

        <div class="widget-content">
            <input type="checkbox" name="my-checkbox" class="switch">
            <input type="checkbox" name="my-checkbox" class="switch" checked>
            <input type="checkbox" name="my-checkbox" class="switch" data-on-color="success" checked>
            <input type="checkbox" name="my-checkbox" class="switch" data-on-color="info" checked>
            <input type="checkbox" name="my-checkbox" class="switch" data-on-color="warning" checked>
            <input type="checkbox" name="my-checkbox" class="switch" data-on-color="danger" checked>
            <input type="checkbox" name="my-checkbox" class="switch" data-on-color="inverse" checked>
        </div>
    </div>
    {{ c('Bootstrap Switch Widget Ends') }}

    {{ c('Bootstrap Tagsinput Widget Starts') }}
    <div class="widget switch-widget">
        <h4 class="widget-title">Tags</h4>

        <div class="widget-content">
            <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="tagsinput" />
        </div>
    </div>
    {{ c('Bootstrap Tagsinput Widget Ends') }}

    {{ c('Bootstrap Slider Widget Starts') }}
    <div class="widget">
        <h4 class="widget-title">Bootstrap Slider</h4>

        <ul class="nav nav-tabs fixed">
            <li class="active"><a href="#horizontalSliders" data-toggle="tab">Horizontal Sliders</a></li>
            <li><a href="#verticalSliders" data-toggle="tab">Vertical Sliders</a></li>
        </ul>

        <div class="widget-content">
            <div class="tab-content">
                <div class="tab-pane active" id="horizontalSliders">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Slider With Range 1-100</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="29" data-slider-orientation="horizontal" data-slider-selection="before">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">With Incremental Step Of 10</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="10" data-slider-value="60" data-slider-orientation="horizontal" data-slider-selection="before">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ranged Slider Between -20 and 120</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="-20" data-slider-max="120" data-slider-step="5" data-slider-value="[40, 90]" data-slider-orientation="horizontal" data-slider-selection="before">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Disabled</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="12" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-enabled="false">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">With Square Handle</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="48" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-handle="square">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">With Triangular Handle</label>
                            <div class="col-sm-9">
                                <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="72" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-handle="triangle">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="verticalSliders">
                    <div class="text-center">
                        <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="29" data-slider-orientation="vertical" data-slider-selection="before">
                        <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="10" data-slider-value="60" data-slider-orientation="vertical" data-slider-selection="before">
                        <input type="text" class="slider" data-slider-min="-20" data-slider-max="120" data-slider-step="5" data-slider-value="[40, 90]" data-slider-orientation="vertical" data-slider-selection="before">
                        <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="48" data-slider-orientation="vertical" data-slider-selection="before" data-slider-enabled="false">
                        <input type="text" class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="72" data-slider-orientation="vertical" data-slider-selection="before" data-slider-handle="square">
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{ c('Bootstrap Slider Widget Ends') }}

    {{ c('Bootstrap Select Widget Starts') }}
    <div class="widget">
        <h4 class="widget-title">Bootstrap Select</h4>

        <div class="widget-content">

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Basic Selects</label>
                    <div class="col-sm-10">
                        <select class="selectpicker">
                            <option selected>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                        <select class="selectpicker" data-style="btn-success">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option selected>Relish</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Disabled</label>
                    <div class="col-sm-10">
                        <select class="selectpicker" disabled>
                            <option selected>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                        <select class="selectpicker" data-style="btn-success" disabled>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option selected>Relish</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">With Multiple Selects</label>
                    <div class="col-sm-10">
                        <select class="selectpicker" multiple>
                            <option selected>Mustard</option>
                            <option>Ketchup</option>
                            <option selected>Relish</option>
                        </select>
                        <select class="selectpicker" data-style="btn-success" multiple>
                            <option selected>Mustard</option>
                            <option selected>Ketchup</option>
                            <option selected>Relish</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nothing Selected</label>
                    <div class="col-sm-10">
                        <select class="selectpicker" multiple>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                        <select class="selectpicker" data-style="btn-success" multiple>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">With Option Groups</label>
                    <div class="col-sm-10">
                        <select class="selectpicker">
                            <optgroup label="Picnic">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </optgroup>
                            <optgroup label="Camping">
                                <option selected>Tent</option>
                                <option>Flashlight</option>
                                <option>Toilet Paper</option>
                            </optgroup>
                        </select>
                        <select class="selectpicker" data-style="btn-success">
                            <optgroup label="Picnic">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </optgroup>
                            <optgroup label="Camping">
                                <option>Tent</option>
                                <option selected>Flashlight</option>
                                <option>Toilet Paper</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">With Search Field</label>
                    <div class="col-sm-10">
                        <select class="selectpicker" data-live-search="true">
                            <option selected>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                        </select>
                        <select class="selectpicker" data-style="btn-success" data-live-search="true">
                            <option selected>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Mayonnaise</option>
                            <option>Barbecue Sauce</option>
                            <option>Salad Dressing</option>
                            <option>Tabasco</option>
                            <option>Salsa</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">With Subtext</label>
                    <div class="col-sm-10">
                        <select class="selectpicker" data-show-subtext="true">
                            <option data-subtext="French's">Mustard</option>
                            <option data-subtext="Heinz">Ketchup</option>
                            <option data-subtext="Sweet">Relish</option>
                            <option data-subtext="Miracle Whip">Mayonnaise</option>
                            <option data-divider="true"></option>
                            <option data-subtext="Honey">Barbecue Sauce</option>
                            <option data-subtext="Ranch">Salad Dressing</option>
                            <option data-subtext="Sweet &amp; Spicy">Tabasco</option>
                            <option data-subtext="Chunky">Salsa</option>
                        </select>
                        <select class="selectpicker" data-show-subtext="true" data-style="btn-success">
                            <option data-subtext="French's">Mustard</option>
                            <option data-subtext="Heinz">Ketchup</option>
                            <option data-subtext="Sweet">Relish</option>
                            <option data-subtext="Miracle Whip">Mayonnaise</option>
                            <option data-divider="true"></option>
                            <option data-subtext="Honey">Barbecue Sauce</option>
                            <option data-subtext="Ranch">Salad Dressing</option>
                            <option data-subtext="Sweet &amp; Spicy">Tabasco</option>
                            <option data-subtext="Chunky">Salsa</option>
                        </select>
                    </div>
                </div>
            </form>

            {{ c('Default Bootstrap Selects') }}
            <div class="widget-subtitle">Different Colors</div>
            <select class="selectpicker">
                <option selected>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
            <select class="selectpicker" data-style="btn-primary">
                <option>Mustard</option>
                <option selected>Ketchup</option>
                <option>Relish</option>
            </select>
            <select class="selectpicker" data-style="btn-success">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option selected>Relish</option>
            </select>
            <select class="selectpicker" data-style="btn-info">
                <option selected>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>
            <select class="selectpicker" data-style="btn-warning">
                <option>Mustard</option>
                <option selected>Ketchup</option>
                <option>Relish</option>
            </select>
            <select class="selectpicker" data-style="btn-danger">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option selected>Relish</option>
            </select>
        </div>
    </div>
    {{ c('Bootstrap Select Widget Ends') }}

    {{ c('Form Input Validation States Widget Starts') }}
    <div class="row">
        <div class="col-md-6">
            <div class="widget">
                <h4 class="widget-title">Form Input Validation States</h4>
                <div class="widget-content">
                    <form class="form-horizontal" role="form">
                        <div class="form-group has-success">
                            <label class="col-sm-2 control-label" for="successField">Success</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="successField" value="This is a valid input">
                            </div>
                        </div>
                        <div class="form-group has-warning">
                            <label class="col-sm-2 control-label" for="warningField">Warning</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="warningField" value="Something seems fishy in here">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label" for="errorField">Error</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="errorField">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget">
                <h4 class="widget-title">Control Sizing</h4>
                <div class="widget-content">
                    <form role="form">
                        <div class="form-group">
                            <label  class="sr-only control-label" for="inputFieldSmall">Small</label>
                            <input type="text" class="form-control input-sm" id="inputFieldSmall" placeholder="Small">
                        </div>
                        <div class="form-group">
                            <label  class="sr-only control-label" for="inputFieldNormal">Normal</label>
                            <input type="text" class="form-control" id="inputFieldNormal" placeholder="Normal">
                        </div>
                        <div class="form-group">
                            <label  class="sr-only control-label" for="inputFieldLarge">Large</label>
                            <input type="text" class="form-control input-lg" id="inputFieldLarge" placeholder="Large">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ c('Form Input Validation States Widget Ends') }}

    {{ c('Column Sizing Widget Starts') }}
    <div class="widget">
        <h4 class="widget-title">Column Sizing</h4>
        <div class="widget-content">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1"><input type="text" class="form-control" placeholder=".col-md-1"></div>
                    <div class="col-md-11"><input type="text" class="form-control" placeholder=".col-md-11"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2"><input type="text" class="form-control" placeholder=".col-md-2"></div>
                    <div class="col-md-10"><input type="text" class="form-control" placeholder=".col-md-10"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3"><input type="text" class="form-control" placeholder=".col-md-3"></div>
                    <div class="col-md-9"><input type="text" class="form-control" placeholder=".col-md-9"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4"><input type="text" class="form-control" placeholder=".col-md-4"></div>
                    <div class="col-md-8"><input type="text" class="form-control" placeholder=".col-md-8"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5"><input type="text" class="form-control" placeholder=".col-md-5"></div>
                    <div class="col-md-7"><input type="text" class="form-control" placeholder=".col-md-7"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder=".col-md-6"></div>
                    <div class="col-md-6"><input type="text" class="form-control" placeholder=".col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
    {{ c('Column Sizing Widget Ends') }}
{% endblock %}

{% block vendor_js %}
    <script src="{{ static('js/bootstrap-select.min.js') }}"></script>
    <script src="{{ static('js/bootstrap-slider.min.js') }}"></script>
    <script src="{{ static('js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ static('js/bootstrap-tagsinput.js') }}"></script>
{% endblock %}

{% block js %}
    <script>
        $(function() {
            // Initialize Bootstrap Slider
            $("input.slider").slider({
                tooltip_separator: '-'
            });

            // Initialize Bootstrap Select
            $(".selectpicker").selectpicker();

            // Initialize Bootstrap Switch
            $(".switch").bootstrapSwitch();

            // Initialize Bootstrap Tagsinput
            $(".tagsinput").tagsinput({
                tagClass: function() {
                    return 'label label-primary';
                }
            });
        });
    </script>
{% endblock %}
