{% extends '_base.html' %}

{% set page_title = "Form Layouts" %}

{% block main %}

    <div class="row">

        {{ c('Basic Form Starts') }}
        <div class="col-md-6">
            <div class="widget">
                <h4 class="widget-title">Basic Form</h4>
                <div class="widget-content">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <div class="file-input-wrapper">
                                <div class="btn btn-v btn-default"><i class="fa fa-file"></i> Choose File</div>
                                <input type="file" id="exampleInputFile">
                            </div>
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <button type="submit" class="btn btn-v btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {{ c('Basic Form Ends') }}


        {{ c('Placeholder Only Form Starts') }}
        <div class="col-md-6">
            <div class="widget">
                <h4 class="widget-title">Placeholder Only Form</h4>
                <div class="widget-content">
                    <form role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword1">Email</label>
                                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword1">Website</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputFile">Comment</label>
                            <textarea class="form-control" rows="6" placeholder="Comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-v btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {{ c('Placeholder Only Form Ends') }}

    </div>


    {{ c('Inline Form Starts') }}
    <div class="widget">
        <h4 class="widget-title">Inline Form</h4>
        <div class="widget-content">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword3">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> <span>Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-v btn-default">Sign in</button>
            </form>
        </div>
    </div>
    {{ c('Inline Form Ends') }}


    {{ c('Horizontal Form Starts') }}
    <div class="widget">
        <h4 class="widget-title">Horizontal Form</h4>
        <div class="widget-content">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="exampleInputName2">Full Name</label>
                    <div class="col-sm-9  col-md-10">
                        <input type="email" class="form-control" id="exampleInputName2" placeholder="Full name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="exampleInputEmail2">Email address</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="exampleInputPassword2">Password</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="exampleInputPassword2">Plan</label>
                    <div class="col-sm-9 col-md-10">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-v btn-default active">
                                <input type="radio" name="options" id="option1"> Free
                            </label>
                            <label class="btn btn-v btn-default">
                                <input type="radio" name="options" id="option2"> Basic
                            </label>
                            <label class="btn btn-v btn-default">
                                <input type="radio" name="options" id="option3"> Premium
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span>I agree to the terms & conditions</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10">
                        <button type="submit" class="btn btn-v btn-primary">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{ c('Horizontal Form Ends') }}

{% endblock %}
