{% extends '_base.html' %}

{% set page_title = "Form Validation" %}

{% block vendor_css %}
    <link rel="stylesheet" href="{{ static('css/lib/bootstrapValidator.min.css') }}">
{% endblock %}

{% block main %}

    <div class="alert alert-page alert-success">Try submitting the forms to see the validation in action.</div>

    <div class="row">

        {{ c('Credit Card Form Starts') }}
        <div class="col-md-5">
            <div class="panel panel-success">
                <div class="panel-heading"><div class="panel-title"><i class="fa fa-credit-card"></i> Credit Card Form</div></div>
                <div class="panel-body">
                    <form id="creditCardForm">
                        <div class="form-group">
                            <label class="sr-only" for="credit-card-num">Name</label>
                            <input class="form-control" id="credit-card-name" name="credit-card-name" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="credit-card-num">Credit Card Number</label>
                            <input class="form-control" id="credit-card-num" name="credit-card-num" placeholder="Credit Card Number" required>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="credit-card-expiry">Expiry</label>
                                    <input class="form-control" id="credit-card-expiry" name="credit-card-expiry" placeholder="MM/YY" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="credit-card-num">CVV</label>
                                    <input class="form-control" id="credit-card-cvv" name="credit-card-cvv" placeholder="CVV" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-lock"></i> Pay $13.67</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        {{ c('Credit Card Form Ends') }}

        {{ c('User Registration Form Starts') }}
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading"><div class="panel-title">User Registration</div></div>
                <div class="panel-body">
                    <form id="registrationForm">
                        <div class="form-group">
                            <label class="sr-only" for="registration-name">Full Name</label>
                            <input class="form-control" type="text" id="registration-name" name="registration-name" placeholder="Full Name" required>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="registration-username">Username</label>
                                    <input class="form-control" type="text" id="registration-username" name="registration-username" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="registration-email">Email Address</label>
                                    <input class="form-control" type="email" id="registration-email" name="registration-email" placeholder="Email Address" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="registration-password">Password</label>
                                    <input class="form-control" type="password" id="registration-password" name="registration-password" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="registration-confirm-password">Confirm Password</label>
                                    <input class="form-control" type="password" id="registration-confirm-password" name="registration-confirm-password" placeholder="Confirm Password" required>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary pull-right" type="submit"><i class="fa fa-check-circle-o"></i> Register</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        {{ c('User Registration Form Ends') }}

    </div>

    {{ c('Form Validation Demo Fields Starts') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Form Validation</div></div>
        <div class="panel-body">
            <form id="validationDemoForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationRequiredText">Required Text</label>
                    <div class="col-sm-9  col-md-10">
                        <input type="text" class="form-control" id="validationRequiredText" name="required-text" placeholder="Required Text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationOptionalText">Optional Text</label>
                    <div class="col-sm-9  col-md-10">
                        <input type="text" class="form-control" id="validationOptionalText" name="optionalText" placeholder="Optional Text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationEmail">Email Address</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="email" class="form-control" id="validationEmail" name="email" placeholder="Email Address" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationPassword">Password</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="password" class="form-control" id="validationPassword" name="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationPasswordAgain">Confirm Password</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="password" class="form-control" id="validationPasswordAgain" name="confirm-password" placeholder="Confirm Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationInteger">Integer</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="number" class="form-control" id="validationInteger" name="number" placeholder="1337" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationZIP">ZIP</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="text" class="form-control" id="validationZIP" name="zip" placeholder="10007" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationPhone">Phone Number</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="text" class="form-control" id="validationPhone" name="phone" placeholder="555-555-5555" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationURL">URL</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="url" class="form-control" id="validationURL" name="url" placeholder="https://google.com/" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationIPAddr">IP Address</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="text" class="form-control" id="validationIPAddr" name="ip-address" placeholder="127.0.0.1" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationISBN">ISBN</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="ip" class="form-control" id="validationISBN" name="isbn" placeholder="978-3-16-148410-0" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10">
                        <button type="submit" class="btn btn-primary">Validate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{ c('Form Validation Demo Fields Ends') }}

{% endblock %}

{% block vendor_js %}
    <script src="{{ static('js/lib/form-elements/bootstrapValidator.min.js') }}"></script>
{% endblock %}

{% block js %}
    <script src="{{ static('js/template/form-validation.js') }}"></script>
{% endblock %}
