{% extends '_base.html' %}

{% set page_title = "Form Validation" %}

{% block vendor_css %}
    <link rel="stylesheet" href="{{ static('css/lib/bootstrapValidator.min.css') }}">
{% endblock %}

{% block main %}

    <div class="alert alert-page alert-success">Try submitting the forms to see the validation in action.</div>

    <div class="row">

        {{ c('Credit Card Form Starts') }}
        <div class="col-md-5">
            <div class="widget">
                <h4 class="widget-title"><i class="fa fa-credit-card"></i> Credit Card Form</h4>
                <div class="widget-content">
                    <form id="creditCardForm">
                        <div class="form-group">
                            <label class="sr-only" for="credit-card-num">Name</label>
                            <input class="form-control" id="credit-card-name" name="credit-card-name" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="credit-card-num">Credit Card Number</label>
                            <input class="form-control" id="credit-card-num" name="credit-card-num" placeholder="Credit Card Number" required>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="credit-card-expiry">Expiry</label>
                                    <input class="form-control" id="credit-card-expiry" name="credit-card-expiry" placeholder="MM/YY" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="credit-card-num">CVV</label>
                                    <input class="form-control" id="credit-card-cvv" name="credit-card-cvv" placeholder="CVV" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-rounded btn-primary"><i class="fa fa-lock"></i> Pay $13.67</button>
                    </form>
                </div>
            </div>
        </div>
        {{ c('Credit Card Form Ends') }}

        {{ c('User Registration Form Starts') }}
        <div class="col-md-7">
            <div class="widget">
                <h4 class="widget-title">User Registration</h4>
                <div class="widget-content">
                    <form id="registrationForm">
                        <div class="form-group">
                            <label class="sr-only" for="registration-name">Full Name</label>
                            <input class="form-control" type="text" id="registration-name" name="registration-name" placeholder="Full Name" required>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="registration-username">Username</label>
                                    <input class="form-control" type="text" id="registration-username" name="registration-username" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="registration-email">Email Address</label>
                                    <input class="form-control" type="email" id="registration-email" name="registration-email" placeholder="Email Address" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="registration-password">Password</label>
                                    <input class="form-control" type="password" id="registration-password" name="registration-password" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="registration-confirm-password">Confirm Password</label>
                                    <input class="form-control" type="password" id="registration-confirm-password" name="registration-confirm-password" placeholder="Confirm Password" required>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success pull-right" type="submit"><i class="fa fa-check-circle-o"></i> Register</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        {{ c('User Registration Form Ends') }}

    </div>

    {{ c('Form Validation Demo Fields Starts') }}
    <div class="widget">
        <h4 class="widget-title">Form Validation</h4>
        <div class="widget-content">
            <form id="validationDemoForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationRequiredText">Required Text</label>
                    <div class="col-sm-9  col-md-10">
                        <input type="text" class="form-control" id="validationRequiredText" name="required-text" placeholder="Required Text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationOptionalText">Optional Text</label>
                    <div class="col-sm-9  col-md-10">
                        <input type="text" class="form-control" id="validationOptionalText" name="optionalText" placeholder="Optional Text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationEmail">Email Address</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="email" class="form-control" id="validationEmail" name="email" placeholder="Email Address" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationPassword">Password</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="password" class="form-control" id="validationPassword" name="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationPasswordAgain">Confirm Password</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="password" class="form-control" id="validationPasswordAgain" name="confirm-password" placeholder="Confirm Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationInteger">Integer</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="number" class="form-control" id="validationInteger" name="number" placeholder="1337" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationZIP">ZIP</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="text" class="form-control" id="validationZIP" name="zip" placeholder="10007" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationPhone">Phone Number</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="text" class="form-control" id="validationPhone" name="phone" placeholder="555-555-5555" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationURL">URL</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="url" class="form-control" id="validationURL" name="url" placeholder="https://google.com/" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationIPAddr">IP Address</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="text" class="form-control" id="validationIPAddr" name="ip-address" placeholder="127.0.0.1" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-2 control-label" for="validationISBN">ISBN</label>
                    <div class="col-sm-9 col-md-10">
                        <input type="ip" class="form-control" id="validationISBN" name="isbn" placeholder="978-3-16-148410-0" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{ c('Form Validation Demo Fields Ends') }}

{% endblock %}

{% block vendor_js %}
    <script src="{{ static('js/bootstrapValidator.min.js') }}"></script>
{% endblock %}

{% block js %}
    <script>
        $(function() {

            // Adding the validator for credit card expiry date check
            $.fn.bootstrapValidator.validators.creditCardExpiry = {
                validate: function(validator, $field, options) {

                    // We do not want to validate against en empty
                    // field, let the notEmpty validator do that job
                    if (!$field.val())
                        return true;

                    function normalizeYear(year){
                        // Century fix
                        var YEARS_AHEAD = 20;
                        if (year < 100){
                            var nowYear = new Date().getFullYear();
                            year += Math.floor(nowYear/100) * 100;
                            if (year > nowYear + YEARS_AHEAD) {
                                year -= 100;
                            } else if (year <= nowYear - 100 + YEARS_AHEAD) {
                                year += 100;
                            }
                        }
                        return year;
                    }

                    var match, exp, now, currentMonth;

                    match = $field.val().match(/^\s*(0?[1-9]|1[0-2])\/(\d\d|\d{4})\s*$/);

                    if (!match) {
                        return false;
                    }

                    exp = new Date(normalizeYear(1*match[2]), 1*match[1]-1, 1).valueOf();

                    now = new Date();

                    currentMonth = new Date(now.getFullYear(), now.getMonth(), 1).valueOf();

                    return exp > currentMonth;

                }
            };

            // Initializing validation on the demo fields form
            $('#validationDemoForm').bootstrapValidator({
                // For more setting options, see http://bootstrapvalidator.com/settings/

                // Enable live validation
                live: 'enabled',

                // We are using ionicons icons but glyphicons
                // or font-awesome icons can be used as well
                feedbackIcons: {
                    valid: 'ion-ios7-checkmark-outline',
                    invalid: 'ion-ios7-close-outline',
                    validating: 'ion-ios7-reloading'
                },

                // Define field validations
                // To know more about the different validators, visit -
                // http://bootstrapvalidator.com/validators/
                fields: {
                    'required-text': { message: 'This field is required' },
                    email: {
                        validators: {
                            notEmpty: { message: 'Email address is required' },
                            emailAddress: { message: 'This is not a valid email address' }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: { message: 'Password is required' },
                            identical: {
                                field: 'confirm-password',
                                message: 'The password and its confirm are not the same'
                            }
                        }
                    },
                    'confirm-password': {
                        validators: {
                            notEmpty: { message: 'Password confirmation is required' },
                            identical: {
                                field: 'password',
                                message: 'The password and its confirm are not the same'
                            }
                        }
                    },
                    number: {
                        validators: {
                            notEmpty: { message: 'Integer is required' },
                            integer: { message: 'This is not an integer' }
                        }
                    },
                    zip: {
                        validators: {
                            notEmpty: { message: 'ZIP code is required' },
                            zipCode: { message: 'This is not a valid ZIP code', country: 'US' }
                        }
                    },
                    phone: {
                        validators: {
                            notEmpty: { message: 'Phone number is required' },
                            phone: { message: 'This is not a valid phone number', country: 'US' }
                        }
                    },
                    url: {
                        validators: {
                            notEmpty: { message: 'URL is required' },
                            uri: { message: 'This is not a valid URL' }
                        }
                    },
                    'ip-address': {
                        validators: {
                            notEmpty: { message: 'IP address is required' },
                            ip: { message: 'This is not a valid IP address' }
                        }
                    },
                    isbn: {
                        validators: {
                            notEmpty: { message: 'ISBN is required' },
                            isbn: { message: 'This is not a valid ISBN' }
                        }
                    }
                }
            });

            // Initializing validation on the sample credit card form
            $('#creditCardForm').bootstrapValidator({
                live: 'enabled',
                fields: {
                    'credit-card-name': { message: 'Card Holder\'s Name is required' },
                    'credit-card-num': {
                        validators: {
                            notEmpty: { message: 'Credit Card Number is required' },
                            creditCard: { message: 'Invalid Credit Card number' }
                        }
                    },
                    'credit-card-expiry': {
                        validators: {
                            notEmpty: { message: 'Credit Card Expiry is required' },
                            creditCardExpiry: { message: 'Invalid Expiry Date' }
                        }
                    },
                    'credit-card-cvv': {
                        validators: {
                            notEmpty: { message: 'CVV code is required' },
                            cvv: {
                                creditCardField: 'credit-card-num',
                                message: 'Invalid CVV code'
                            }
                        }
                    }
                }
            });


            $('#registrationForm').bootstrapValidator({
                live: 'enabled',
                fields: {
                    'registration-name': { message: 'Please enter your full name' },
                    'registration-username': { message: 'Please enter your desired username' },
                    'registration-email': {
                        validators: {
                            notEmpty: { message: 'Email address is required' },
                            emailAddress: { message: 'This is not a valid email address' }
                        }
                    },
                    'registration-password': {
                        validators: {
                            notEmpty: { message: 'Password is required' },
                            identical: {
                                field: 'registration-confirm-password',
                                message: 'The password and its confirm are not the same'
                            }
                        }
                    },
                    'registration-confirm-password': {
                        validators: {
                            notEmpty: { message: 'Password confirmation is required' },
                            identical: {
                                field: 'registration-password',
                                message: 'The password and its confirm are not the same'
                            }
                        }
                    }
                }
            });

        });
    </script>
{% endblock %}
