{% extends '_base.html' %}

{% set page_title = "Static Tables" %}

{% block css %}
    <link rel="stylesheet" href="{{ static('css/compiled/grid.css') }}">
{%- endblock %}

{% block main %}
    {{ s('Table With Icons and Progress Bars') }}
    <div class="panel panel-primary">
        <div class="panel-heading"><div class="panel-title">With Icons & Progress</div></div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Progress</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <div class="progress progress-slim progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-icon btn-xs btn-success"><i class="fa fa-envelope"></i></button>
                            <button class="btn btn-icon btn-xs btn-primary"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-icon btn-xs btn-danger"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>
                            <div class="progress progress-slim progress-striped active">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                    <span class="sr-only">30% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-icon btn-xs btn-success"><i class="fa fa-envelope"></i></button>
                            <button class="btn btn-icon btn-xs btn-primary"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-icon btn-xs btn-danger"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>
                            <div class="progress progress-slim progress-striped active">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="width: 52%;">
                                    <span class="sr-only">52% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-icon btn-xs btn-success"><i class="fa fa-envelope"></i></button>
                            <button class="btn btn-icon btn-xs btn-primary"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-icon btn-xs btn-danger"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>{{ e('Table With Icons and Progress Bars') }}

    {{ s('Basic Table') }}
    <div class="panel panel-clean">
        <div class="panel-heading"><div class="panel-title">Basic Table</div></div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>{{ e('Basic Table') }}

    <div class="row">

        {{ s('Striped Table') }}
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading"><div class="panel-title">Striped Table</div></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>{{ e('Striped Table') }}

        {{ s('Bordered Table') }}
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading"><div class="panel-title">Bordered Table</div></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>{{ e('Bordered Table') }}

        {{ s('Hover Rows Table') }}
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading"><div class="panel-title">Hover Rows Table</div></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>{{ e('Hover Rows Table') }}

        {{ s('Condensed Table') }}
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading"><div class="panel-title">Condensed Table</div></div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>{{ e('Condensed Table') }}

    {{ s('Responsive Table') }}
    <div class="panel panel-dark">
        <div class="panel-heading"><div class="panel-title">Responsive Table</div></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="widget-footnote">This table will scroll horizontally in small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference.</div>
        </div>
    </div>{{ e('Responsive Table') }}
{% endblock %}
