@import 'vars';

* {
  $transition-time: 0.125s;
  transition: all $transition-time ease-in-out;
  -webkit-transition: all $transition-time ease-in-out;
  -moz-transition:    all $transition-time ease-in-out;
  -ms-transition:     all $transition-time ease-in-out;
  -o-transition:      all $transition-time ease-in-out;
}

body {
  font-family: 'Open Sans', sans-serif;
}


// Custom Navbar
.navbar-primary {
  border: none;
  border-radius: 0;
  background-color: $navbar-color;
  padding: 7px;
  margin-bottom: 0;

  .navbar-brand {
    color: $text-color;
    font-size: 1.4em;
    font-weight: 500;

    &:hover {
      color: #fff;
    }

    .brand-subtext {
      color: #81979C;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.5em;
    }
  }

  .navbar-nav {
    li > a {
      color: $text-color;
      &:hover { background-color: transparent; }
    }
  }
}


// Sidebar
.sidebar {
  position: absolute;
  float: left;
  width: 210px;
  min-height: 1000px;
  background-color: $sidebar-color;
}


// Navigation menu inside the sidebar
.nav-sidebar {
  li {
    border-top: 1px solid lighten($sidebar-color, 4);
    &:last-of-type {
      border-bottom: 1px solid lighten($sidebar-color, 4);
    }

    // Showing the collapse indicator icon to the left of item name
    &.dropdown span:before {
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f138';
      margin: 0 5px 0 -3px;
      color: darken($text-color, 50);
    }
  }

  li > a {
    padding: 20px 11px 20px 15px;
    font-size: 0.90em;
    font-weight: 500;
    line-height: 1.1em;
    color: darken($text-color, 22);
    border-left: 8px solid transparent;

    i {
      margin-right: 6px;
      color: darken($text-color, 40);
      float: right;
      font-size: 1.6em;
    }

    &:hover {
      background-color: transparent;
      color: $text-color;
      i { color: darken($text-color, 10); }
    }
  }
}


// User profile inside the sidebar

.sidebar-profile-wrapper {
  .fa {
    position: absolute;
    top: 35px;
    right: 15px;
    color: $text-color;
    display: none;
  }

  &:hover {
    cursor: pointer;
    background-color: lighten($sidebar-color, 4);

    .fa {
      display: block;
    }
  }
}

.sidebar-profile {
  margin: 13px 11px;
}

.sidebar-profile-avatar {
  float: left;
  width: 55px;
}

.sidebar-profile-content {
  float: left;
  margin-left: 10px;
  width: 115px;

  .welcome {
    margin-top: 2px;
    color: #b3b8bc;
    font-size: 0.67em;
    line-height: 1em;
  }

  .name {
    margin-top: 2px;
    color: #ecf0f1;
    font-size: 1.15em;
    font-weight: 300;
  }

  .position {
    margin-top: 2px;
    color: #476581;
    font-size: 0.7em;
  }
}
