@import 'helper';
@import 'vars';

* {
  box-sizing: border-box;

  &::selection {
    background: #1ccfab;
    color: white;
  }

  &::-moz-selection {
    background: #1ccfab;
    color: white;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ecf0f1;
}


// Custom Navbar
.navbar-primary {
  border: none;
  border-radius: 0;
  background-color: $navbar-color;
  padding: 7px;
  margin-bottom: 0;

  .navbar-brand {
    display: inline;
    color: $text-color;
    font-size: 1.4em;
    font-weight: 500;

    &:hover {
      color: #fff;
    }

    .brand-subtext {
      color: #81979C;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.5em;
    }
  }

  .navbar-nav {
    li > a {
      color: $text-color;
      &:hover { background-color: transparent; }
    }
  }

  .navbar-items {
    margin: 0;
    list-style: none;
    > li {
      float: left;
      display: inline-block;
    }
  }

  .dropdown {
    // Keeping the button highlighted when the dropdown menu is open
    &.open button.btn-navbar {
      background-color: darken($navbar-color, 4);
      color: #749fcb;
    }
  }

  .dropdown-menu {
    border: none;
    border-radius: 2px;

    > li > a {
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 10px;
      font-size: 0.9em;
      font-weight: 600;
      color: #2c3e50;
      vertical-align: middle;

      > i {
        margin: 4px 4px 0 0;
        color: #95a5a6;
      }
    }

    // Adding the caret above the menu
    &:before, &:after {
      position: absolute;
      display: inline-block;
      content: '';
    }

    &:before {
      top: -7px;
      right: 1.52em;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
    }

    &:after {
      top: -6px;
      right: 1.5em;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
    }
  }
}


// Sidebar toggle and search submit button
button.btn-navbar {
  position: relative;
  color: #5b7ea3;
  background-color: darken($navbar-color, 2);
  border: none;
  border-radius: 0.2em;
  font-size: 1.3em;
  margin: 0.55em;
  @include transition(all 0.15s ease);

  &:hover {
    background-color: darken($navbar-color, 4);
    color: #749fcb;
    @include transition(all 0.15s ease);
  }

  &:focus { outline: none; }

  .events-count {
    $size: 1.5em;
    $position: -0.2em;
    position: absolute;
    top: $position;
    right: $position;
    background-color: #1abc9c;
    font-size: 0.55em;
    font-weight: 600;
    vertical-align: middle;
    color: darken($navbar-color, 3);
    width: $size;
    height: $size;
    border-radius: 50%;
  }
}

// Navbar search form
.navbar-search {
  display: inline-block;
  input {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    color: #bdc3c7;
    box-shadow: none;
    font-size: 0.85em;
    font-weight: 300;
    width: 7em;
    &:hover, &:focus { box-shadow: none; }
    @include transition(all 0.2s ease);

    // Set a different, less flashy color for always visible placeholder
    &::-webkit-input-placeholder { color: #6187ae; }
    &:-moz-placeholder { color: #6187ae; }
    &::-moz-placeholder { color: #6187ae; }
    &:-ms-input-placeholder { color: #6187ae; }

    // Increasing the width of the search field on focus
    &:focus {
      width: 12em;
      @include transition(all 0.4s ease);
    }
  }
}

// Notifications Dropdown
.notifications-dropdown {
  ul.dropdown-menu {
     min-width: 260px;

    .divider { margin: 5px 0; }

    .see-all a {
      padding: 5px 15px;
      font-size: 0.88em;
      font-weight: 400;
      color: #95a5a6;
      @include transition(all 0.3s ease);

      &:hover {
        background-color: transparent;
        color: #3b526a;
        @include transition(all 0.3s ease);
      }
    }

    > li > a {
      padding: 10px 15px;

      > i {
        font-size: 2.2em;
        margin: 3px 6px 0 0;
        color: #DDDADA;
      }
    }
  }

  .media-body {
    font-size: 0.9em;
    font-weight: 300;
    color: #bdc3c7;
    .media-heading {
      font-size: 1.15em;
      font-weight: 400;
      color: #34495e;
    }

    // Add padding to compensate for the icon element (floated left) occupying the space
    padding-right: 3.7em;
  }

  .badge {
    background-color: #d9ddde;
  }
}


// Sidebar

// z-index of 9998 is set on `.sidebar` and 9999 on `.sidebar.sidebar-slim > .nav-sidebar > li > ul`
// to prevent the canvas element belong to charts from overlapping with the dropdown sub-menu
// http://stackoverflow.com/questions/2671699

.sidebar {
  margin-top: 64px;
  padding-bottom: 64px;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 210px;
//  overflow-x: visible;
//  overflow-y: visible;
  height: 100%;
  background-color: $sidebar-color;
}


// Navigation menu inside the sidebar
.nav-sidebar {
  // Adding border to the top of every list item
  > li {
    border-top: 1px solid lighten($sidebar-color, 4);
    &:last-of-type {
      border-bottom: 1px solid lighten($sidebar-color, 4);
    }
  }

  li {
    // Showing the collapse indicator icon to the left of item name
    &.dropdown span:before {
      @extend .fa-icon;
      content: '\f138';
      margin: 0 5px 0 -3px;
      color: darken($text-color, 50);
    }

    // Changing collapse indicator icon to 'fa-chevron-circle-down'
    // on the active item
    &.dropdown.active span:before {
      content: '\f13a';
    }
  }

  li > a {
    padding: 20px 11px 20px 15px;
    font-size: 0.90em;
    font-weight: 600;
    line-height: 1.1em;
    color: darken($text-color, 22);
    border-left: 3px solid transparent;
    @include transition((background-color 0.1s ease, color 0.1s ease));

    // Item icon to the right
    i {
      margin-right: 6px;
      color: darken($text-color, 40);
      float: right;
      font-size: 1.6em;
      line-height: 0.9em;
      @include transition((background-color 0.1s ease, color 0.1s ease));
    }

    // Making the text and icon brighter on hover
    &:hover, &:focus {
      @include transition((background-color 0.1s ease, color 0.1s ease));
      background-color: lighten($sidebar-color, 4);
      color: $text-color;
      outline: none;
      i {
        color: darken($text-color, 10);
        @include transition((background-color 0.1s ease, color 0.1s ease));
      }
    }
  }

  // For the active item whose dropdown children's are shown
  > li.active {
    border-top-color: darken($sidebar-color, 2);
    > a {
      border-left-color: #d35400;
      background-color: darken($sidebar-color, 4);
      color: $text-color;
      i { color: darken($text-color, 10); }
    }
  }

  // For the items which have dropdown child items
  li.dropdown {
    > ul {
      display: none;
      background-color: darken($navbar-color, 9);
      padding-left: 0;
      > li > a {
        display: block;
        padding: 8px 30px;
        font-size: 0.85em;
        font-weight: 300;
        border-left: 2px solid transparent;

        &:before {
          @extend .fa-icon;
          content: '\f105';
          margin: 0 5px 0 -3px;
          color: darken($text-color, 50);
        }

        &:hover {
          text-decoration: none;
          background-color: $sidebar-color;
          border-left-color: #f39c12;
        }
      }
    }
  }
}


// User profile inside the sidebar

.sidebar-profile-wrapper {
  cursor: pointer;

  // 'fa-angle-right' shown in the right on hover
  .fa {
    position: absolute;
    top: 35px;
    right: 15px;
    color: $text-color;
    display: none;
  }

  &:hover {
    background-color: lighten($sidebar-color, 4);

    .fa {
      display: block;
    }
  }
}

.sidebar-profile {
  margin: 13px 11px;
}

.sidebar-profile-avatar {
  float: left;
  width: 55px;
}

.sidebar-profile-content {
  float: left;
  margin-left: 10px;
  width: 115px;

  .welcome {
    margin-top: 2px;
    color: #b3b8bc;
    font-size: 0.67em;
    line-height: 1em;
  }

  .name {
    margin-top: 2px;
    color: #ecf0f1;
    font-size: 1.15em;
    font-weight: 300;
  }

  .position {
    margin-top: 2px;
    color: #476581;
    font-size: 0.7em;
  }
}


// SLIM SIDEBAR

// Using separate .sidebar-slim-width and .with-sidebar-slim class
// to preserve the slide animation effect with jQuery
.with-sidebar-slim {
  .content-wrapper {
    margin-left: 75px;
  }
}

.sidebar-slim-width { width: 75px; }

.sidebar-slim {

  // Hiding the text
  .nav-sidebar > li > a > span { display: none; }
  .sidebar-profile-content {
    .welcome, .name, .position { display: none; }
  }

  // Positioning the sub-menu towards the right of the icon
  .nav-sidebar > li > ul {
    position: absolute;
    left: 100%;
    top: 0;
    width: 200px;
    z-index: 9999;
  }
  .nav-sidebar > li > a > i {
    margin-right: 0;
    float: none;
    font-size: 2.2em;
  }
}


// Wrapper for the main content area
.content-wrapper {
  margin: 64px 0 0 210px;
  padding: 0 25px 25px;
  color: #2c3e50;
}

.page-title {
  font-size: 1.6em;
  font-weight: 500;
}

.page-sub-title {
  margin-left: 2px;
  color: #95a5a6;
  font-size: 0.85em;
  font-weight: 300;
}

.widget {
  margin-bottom: 20px;
  background-color: #fff;
  padding-top: 10px;
  color: #bdc3c7;
  border: 1px solid #e8eced;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .07);

  &.row {
    margin-left: 0;
    margin-right: 0;
  }

  .widget-title {
    font-size: 1.15em;
    font-weight: 500;
    margin: 5px 15px 18px;
  }

  .widget-subtitle {
    font-size: 0.9em;
    font-weight: 300;
  }

  .widget-content {
    padding: 0 15px 10px;
  }
}


// Tool tip for flot charts
#flotTip {
  padding: 3px 5px;
  background-color: $sidebar-color;
  color: #ecf0f1;
  font-size: 0.85em;
  font-weight: 300;
  border-radius: 3px;
}
