@import 'vars';

@mixin transition($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  transition: $val;
}

.fa-icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
//  @include transition(all, 0.2s, ease-in-out);
}

body {
  font-family: 'Open Sans', sans-serif;
}


// Custom Navbar
.navbar-primary {
  border: none;
  border-radius: 0;
  background-color: $navbar-color;
  padding: 7px;
  margin-bottom: 0;

  .navbar-brand {
    color: $text-color;
    font-size: 1.4em;
    font-weight: 500;

    &:hover {
      color: #fff;
    }

    .brand-subtext {
      color: #81979C;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.5em;
    }
  }

  .navbar-nav {
    li > a {
      color: $text-color;
      &:hover { background-color: transparent; }
    }
  }
}


// Sidebar
.sidebar {
  position: absolute;
  float: left;
  width: 210px;
  min-height: 1000px;
  background-color: $sidebar-color;
}


// Navigation menu inside the sidebar
.nav-sidebar {
  // Adding border to the top of every list item
  > li {
    border-top: 1px solid lighten($sidebar-color, 4);
    &:last-of-type {
      border-bottom: 1px solid lighten($sidebar-color, 4);
    }
  }

  li {
    // Showing the collapse indicator icon to the left of item name
    &.dropdown span:before {
      @extend .fa-icon;
      content: '\f138';
      margin: 0 5px 0 -3px;
      color: darken($text-color, 50);
    }

    // Changing collapse indicator icon to 'fa-chevron-circle-down'
    // on the active item
    &.dropdown.active span:before {
      content: '\f13a';
    }
  }

  li > a {
    padding: 20px 11px 20px 15px;
    font-size: 0.90em;
    font-weight: 600;
    line-height: 1.1em;
    color: darken($text-color, 22);
    border-left: 3px solid transparent;
    @include transition((background-color 0.1s ease, color 0.1s ease));

    // Item icon to the right
    i {
      margin-right: 6px;
      color: darken($text-color, 40);
      float: right;
      font-size: 1.6em;
      @include transition((background-color 0.1s ease, color 0.1s ease));
    }

    // Making the text and icon brighter on hover
    &:hover {
      @include transition((background-color 0.1s ease, color 0.1s ease));
      background-color: lighten($sidebar-color, 4);
      color: $text-color;
      i {
        color: darken($text-color, 10);
        @include transition((background-color 0.1s ease, color 0.1s ease));
      }
    }
  }

  // For the active item whose dropdown children's are shown
  > li.active {
    border-top-color: darken($sidebar-color, 2);
    > a {
      border-left-color: #d35400;
      background-color: darken($sidebar-color, 4);
      color: $text-color;
      i { color: darken($text-color, 10); }
    }
  }

  // For the items which have dropdown child items
  li.dropdown {
    > ul {
      display: none;
      background-color: darken($navbar-color, 9);
      padding-left: 0;
      > li > a {
        display: block;
        padding: 8px 30px;
        font-size: 0.85em;
        font-weight: 300;
        border-left: 2px solid transparent;

        &:before {
          @extend .fa-icon;
          content: '\f105';
          margin: 0 5px 0 -3px;
          color: darken($text-color, 50);
        }

        &:hover {
          text-decoration: none;
          background-color: $sidebar-color;
          border-left-color: #f39c12;
        }
      }
    }
  }
}


// User profile inside the sidebar

.sidebar-profile-wrapper {
  cursor: pointer;

  // 'fa-angle-right' shown in the right on hover
  .fa {
    position: absolute;
    top: 35px;
    right: 15px;
    color: $text-color;
    display: none;
  }

  &:hover {
    background-color: lighten($sidebar-color, 4);

    .fa {
      display: block;
    }
  }
}

.sidebar-profile {
  margin: 13px 11px;
}

.sidebar-profile-avatar {
  float: left;
  width: 55px;
}

.sidebar-profile-content {
  float: left;
  margin-left: 10px;
  width: 115px;

  .welcome {
    margin-top: 2px;
    color: #b3b8bc;
    font-size: 0.67em;
    line-height: 1em;
  }

  .name {
    margin-top: 2px;
    color: #ecf0f1;
    font-size: 1.15em;
    font-weight: 300;
  }

  .position {
    margin-top: 2px;
    color: #476581;
    font-size: 0.7em;
  }
}
