@import 'vars';

// Chart.js

.chartjs-chart {
  margin: 25px 0;
  width: 100%;
  height: 220px;

  &.chartjs-chart-circular {
    height: 310px;
    color: rgba(52, 152, 219, 0.73);
  }
}


// Flot charts

.flot-chart-container {
  padding-left: 10px;
  padding-right: 10px;
}

.flot-chart {
  margin: 10px 0 20px;
  height: 250px;
  width: 100%;

  &#interactive, &#flotDonutChart {
    height: 320px;
  }
}


// Morris charts

.morris-chart {
  margin: 20px 12px;
  &#morrisDonut text > tspan {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 !important;
  }
}

// Flotr2 charts

.flotr2-chart {
  margin: 35px 20px 20px;

  > .chart {
    width: 100%;
    height: 270px;
  }

  #flotr2BasicAxis {
    height: 310px;
  }

  .flotr-legend {
    padding: 3px;

    tr {
      margin: 2px;

      td.flotr-legend-label {
        display: inline-block;
        margin-left: 2px;
        font-size: 0.95em;
      }
    }
  }
}



//// Other Charts Page

// xCharts

#xchart-wrapper {
  padding: 0 10px 10px;
}

#xchart {
  height: 300px;
}


// Peity Charts

.peity-charts {
  font-weight: 300;

  p {
    margin: 20px 0;
  }

  dl {
    margin: 35px 0 10px;
  }

  dt {
    font-weight: 600;
    font-size: 0.95em;
    margin-bottom: 10px;
  }

  dd {
    padding-top: 2px;
    margin-bottom: 20px;

    .peity {
      width: 50px;
      height: 30px;
    }
  }
}
