@import 'vars';

// Chart.js

#lineChart, #barChart, #radarChart, #polarChart, #pieChart {
  margin: 25px 0;
  width: 100%;
  height: 220px;
}

#radarChart, #polarChart, #pieChart, #doughnutChart {
  margin: 25px 0;
  height: 310px;
  color: rgba(52, 152, 219, 0.73);
}

// Flot charts

.chart-container {
  padding-left: 10px;
  padding-right: 10px;
}

#realtime, #interactive, #stacked, #flotDonutChart {
  margin: 10px 0 20px;
  height: 250px;
  width: 100%;
}

#interactive, #flotDonutChart {
  height: 320px;
}

// Morris charts

.morris-chart {
  margin: 20px 12px;
  &#morrisDonut text > tspan {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 !important;
  }
}


.flotr2-chart {
  margin: 35px 20px 20px;

  > .chart {
    width: 100%;
    height: 270px;
  }

  #flotr2BasicAxis {
    height: 310px;
  }

  .flotr-legend {
    padding: 3px;

    tr {
      margin: 2px;

      td.flotr-legend-label {
        display: inline-block;
        margin-left: 2px;
        font-size: 0.95em;
      }
    }
  }
}