.fa-icon, table.support-tickets-table tbody > tr > td.status:before, .user-voice .media-body:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#trafficChart {
  margin-top: 15px;
  width: 100%;
  height: 240px; }

#flotTip {
  padding: 3px 5px;
  background-color: #2c3e50;
  color: #ecf0f1;
  font-size: 0.85em;
  font-weight: 300;
  border-radius: 3px; }

.peity {
  width: 100%;
  height: 30px; }

.traffic-widget {
  padding-bottom: 15px; }
  .traffic-widget .widget-subtitle {
    margin: 0 0 20px;
    text-align: center; }
  .traffic-widget .metric {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    margin: 12px 0;
    font-size: 0.85em;
    font-weight: 300;
    text-align: right;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .traffic-widget .metric svg {
      float: right; }
    .traffic-widget .metric .metric-value {
      display: block;
      font-size: 2.3em;
      color: #aaafb3;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .traffic-widget .metric:hover {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .traffic-widget .metric:hover, .traffic-widget .metric:hover .metric-value {
        color: #2c3e50; }

.quick-stat-widget {
  padding: 0;
  margin-bottom: 12px;
  border-radius: 3px; }
  .quick-stat-widget i {
    font-size: 2.5em;
    color: #ecf0f1; }
  .quick-stat-widget .icon-area {
    float: left;
    max-width: 200px;
    padding: 20px;
    border-radius: 3px 0 0 3px; }
  .quick-stat-widget .content-area {
    float: left;
    padding: 10px 29px 5px 14px;
    font-weight: 300;
    color: #95a5a6; }
    .quick-stat-widget .content-area .metric-value {
      display: block;
      font-size: 2.2em;
      font-weight: 300;
      line-height: 1.1em;
      color: #B8C1CA; }
  .quick-stat-widget.facebook .icon-area {
    background-color: #2980b9; }
  .quick-stat-widget.twitter .icon-area {
    background-color: #55acee; }
  .quick-stat-widget.sales .icon-area {
    background-color: #16a085; }
  .quick-stat-widget.errors .icon-area {
    background-color: #c0392b; }

#browser-donut {
  height: 285px;
  text-align: center; }
  #browser-donut tspan {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; }

#us-subscribers-map .map {
  padding-top: 10px; }
#us-subscribers-map .areaLegend tspan {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  font-weight: 400; }
#us-subscribers-map .mapTooltip {
  display: none;
  position: fixed;
  max-width: 200px;
  background-color: #fff;
  color: #34495e;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 7px;
  z-index: 1000;
  moz-opacity: 0.80;
  opacity: 0.80;
  filter: alpha(opacity=80); }

table.support-tickets-table {
  margin-top: 10px; }
  table.support-tickets-table thead > tr > th {
    font-weight: 400;
    color: #95a5a6;
    border-bottom-width: 0; }
  table.support-tickets-table tbody > tr > td {
    font-size: 0.9em;
    font-weight: 400;
    border-top-color: #ecf0f1; }
    table.support-tickets-table tbody > tr > td span.label {
      background-color: #bdc3c7;
      font-size: 0.85em;
      font-weight: 600; }
      table.support-tickets-table tbody > tr > td span.label.critical {
        background-color: #e74c3c; }
      table.support-tickets-table tbody > tr > td span.label.high {
        background-color: #f39c12; }
      table.support-tickets-table tbody > tr > td span.label.normal {
        background-color: #bdc3c7; }
      table.support-tickets-table tbody > tr > td span.label.low {
        background-color: #3498db; }
    table.support-tickets-table tbody > tr > td.status:before {
      content: '\f05c';
      margin-right: 0.4em; }
    table.support-tickets-table tbody > tr > td.status.answered:before {
      content: '\f05d'; }

.users-voice-widget .widget-content {
  height: 354px; }

.user-voice {
  margin-bottom: 10px;
  padding: 0 15px; }
  .user-voice img.media-object {
    width: 40px; }
  .user-voice .media-body {
    position: relative;
    padding: 8px;
    border-radius: 4px;
    background-color: #F5F6F7;
    color: #34495e;
    font-size: 0.88em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .user-voice .media-body .media-heading {
      font-size: 1em;
      color: #bdc3c7; }
    .user-voice .media-body:before {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 1.6em; }
    .user-voice .media-body:hover {
      background-color: #ecf0f1; }
  .user-voice.twitter .media-body:before {
    content: '\f081';
    color: #55acee; }
  .user-voice.facebook .media-body:before {
    content: '\f082';
    color: #2980b9; }

#calendar {
  margin-top: 10px;
  padding-bottom: 15px; }
  #calendar .fc-header-title h2 {
    font-size: 1.25em;
    font-weight: 300;
    color: #34495e; }
  #calendar .fc-widget-header {
    font-weight: 500;
    color: #95a5a6; }
  #calendar .fc-widget-content {
    font-weight: 300; }
  #calendar .fc-button {
    font-size: 0.7em;
    font-weight: 600;
    color: #7f8c8d; }
  #calendar .fc-state-default, #calendar .fc-state-down, #calendar .fc-state-active {
    border: none;
    box-shadow: none; }
  #calendar .fc-state-default {
    background-image: none; }
  #calendar .fc-state-active {
    background-color: #E2E6E9; }
  #calendar .fc-state-highlight {
    background-color: #FCEAA4;
    font-weight: 600;
    color: #34495e; }
  #calendar .fc-event {
    background-color: #485A6D;
    border: none;
    font-size: 0.8em;
    padding: 1px; }
  #calendar .fc-cell-overlay {
    background-color: #D1D1D1; }
