.fa-icon, .support-tickets-table > table tbody > tr > td.status:before, .user-voice .media-body:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#trafficChart {
  margin-top: 15px;
  width: 100%;
  height: 240px;
}

.peity {
  width: 100%;
  height: 30px;
}

.traffic-widget {
  padding-bottom: 15px;
}
.traffic-widget .traffic-widget-subtitle {
  font-size: 0.9em;
  font-weight: 300;
  margin: 0 0 20px;
  text-align: center;
}
.traffic-widget .metric {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin: 12px 0;
  font-size: 0.85em;
  font-weight: 300;
  text-align: right;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.traffic-widget .metric svg {
  float: right;
}
.traffic-widget .metric .metric-value {
  display: block;
  font-size: 2.3em;
  color: #aaafb3;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.traffic-widget .metric:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.traffic-widget .metric:hover, .traffic-widget .metric:hover .metric-value {
  color: #223344;
}

.quick-stat-widget {
  padding: 0;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.quick-stat-widget i {
  font-size: 2.5em;
  color: #ecf0f1;
}
@media (max-width: 768px) {
  .quick-stat-widget i {
    font-size: 2em;
  }
}
.quick-stat-widget .icon-area {
  float: left;
  max-width: 200px;
  padding: 20px;
  border-radius: 3px 0 0 3px;
}
@media (max-width: 768px) {
  .quick-stat-widget .icon-area {
    padding: 15px;
  }
}
.quick-stat-widget .panel-body {
  float: left;
  padding: 10px 8px 5px 10px;
  font-weight: 300;
  color: #95a5a6;
}
@media (max-width: 768px) {
  .quick-stat-widget .panel-body {
    padding: 8px 8px 5px 10px;
    font-size: 0.9em;
  }
}
.quick-stat-widget .panel-body .metric-value {
  display: block;
  font-size: 1.9em;
  font-weight: 300;
  line-height: 1.1em;
  color: #B8C1CA;
}
.quick-stat-widget .panel-body .metric-value .odometer {
  margin-top: -3px;
}
@media (max-width: 768px) {
  .quick-stat-widget .panel-body .metric-value {
    font-size: 1.6em;
  }
}
.quick-stat-widget.facebook .icon-area {
  background-color: #2980b9;
}
.quick-stat-widget.twitter .icon-area {
  background-color: #55acee;
}
.quick-stat-widget.sales .icon-area {
  background-color: #16a085;
}
.quick-stat-widget.errors .icon-area {
  background-color: #c0392b;
}

#browser-donut {
  text-align: center;
}
@media (min-width: 1200px) {
  #browser-donut {
    height: 295px;
  }
}
@media (max-width: 1200px) {
  #browser-donut {
    height: 270px;
  }
}
#browser-donut tspan {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#us-subscribers-map .map {
  padding-top: 10px;
}
#us-subscribers-map .areaLegend tspan {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
}
#us-subscribers-map .mapTooltip {
  display: none;
  position: fixed;
  max-width: 200px;
  background-color: #fff;
  color: #34495e;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 7px;
  z-index: 1000;
  moz-opacity: 0.80;
  opacity: 0.80;
  filter: alpha(opacity=80);
}

.support-tickets-table {
  margin-top: 10px;
}

.support-tickets-table > table thead > tr > th {
  font-weight: 400;
  color: #95a5a6;
  border-bottom-width: 0;
}
.support-tickets-table > table tbody > tr > td {
  font-size: 0.9em;
  font-weight: 400;
  border-top-color: #ecf0f1;
}
.support-tickets-table > table tbody > tr > td span.label {
  background-color: #bdc3c7;
  font-size: 0.85em;
  font-weight: 600;
}
.support-tickets-table > table tbody > tr > td span.label.critical {
  background-color: #e74c3c;
}
.support-tickets-table > table tbody > tr > td span.label.high {
  background-color: #f39c12;
}
.support-tickets-table > table tbody > tr > td span.label.normal {
  background-color: #bdc3c7;
}
.support-tickets-table > table tbody > tr > td span.label.low {
  background-color: #3498db;
}
.support-tickets-table > table tbody > tr > td.status:before {
  content: '\f05c';
  margin-right: 0.4em;
}
.support-tickets-table > table tbody > tr > td.status.answered:before {
  content: '\f05d';
}

.users-voice-widget .panel-body {
  height: 390px;
}
.users-voice-widget .nano-content {
  padding-top: 20px;
}

.user-voice {
  margin-bottom: 10px;
  padding: 0 15px;
}
.user-voice img.media-object {
  width: 40px;
}
.user-voice .media-body {
  position: relative;
  padding: 8px;
  border-radius: 4px;
  background-color: #F5F6F7;
  color: #34495e;
  font-size: 0.88em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.user-voice .media-body .media-heading {
  font-size: 1em;
  color: #bdc3c7;
}
.user-voice .media-body:before {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.6em;
}
.user-voice .media-body:hover {
  background-color: #ecf0f1;
}
.user-voice.twitter .media-body:before {
  content: '\f081';
  color: #55acee;
}
.user-voice.facebook .media-body:before {
  content: '\f082';
  color: #2980b9;
}
