@charset "UTF-8";
.fa-icon, .sidebar-search:before, .nav-sidebar > li span:before, .nav-sidebar li.dropdown > ul > li.dropdown > a:before, .widget .widget-footnote:before, .radio span:before, .radio-inline span:before, .checkbox span:before, .checkbox-inline span:before, .dataTables_wrapper thead > tr > th.sorting_asc:after, .dataTables_wrapper thead > tr > th.sorting_desc:before, .dataTables_wrapper .dataTables_paginate a.paginate_disabled_previous:before, .dataTables_wrapper .dataTables_paginate a.paginate_enabled_previous:before, .dataTables_wrapper .dataTables_paginate a.paginate_disabled_next:after, .dataTables_wrapper .dataTables_paginate a.paginate_enabled_next:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
*::selection {
  background: #1ccfab;
  color: white;
}
*::-moz-selection {
  background: #1ccfab;
  color: white;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  overflow: auto;
}

a {
  color: #3498db;
}

table {
  font-size: 0.95em;
}
table th {
  font-weight: 600;
}
table > thead > tr > th, table > tbody > tr > td {
  border-color: #ecf0f1;
}

code {
  color: white;
  background: #16a085;
  border-radius: 2px;
}

kbd {
  background-color: #34495e;
}

pre {
  border: none;
}

/* This encapsulates the entire page */
.page-wrapper {
  position: relative;
  min-height: 100%;
}
@media (max-width: 500px) {
  .page-wrapper {
    overflow-x: hidden;
  }
}

/* TOP BAR */
.topbar {
  border: none;
  border-radius: 0;
  background-color: #254255;
  padding: 5px 8px;
  margin-bottom: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .topbar {
    padding: 2px 6px;
  }
}
@media (max-width: 768px) {
  .topbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}
.topbar .navbar-brand {
  display: inline;
  color: #ecf0f1;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}
@media (max-width: 768px) {
  .topbar .navbar-brand {
    font-weight: 300;
  }
}
.topbar .navbar-brand:hover {
  color: #fff;
}
.topbar .navbar-brand .brand-subtext {
  color: #81979C;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.5em;
}
.topbar .navbar-nav li > a {
  color: #ecf0f1;
}
.topbar .navbar-nav li > a:hover {
  background-color: transparent;
}
.topbar .navbar-items {
  margin: 0;
  list-style: none;
}
.topbar .navbar-items > li {
  float: left;
  display: inline-block;
}
.topbar .dropdown.open button.btn-navbar {
  background-color: #1f3747;
  color: #c5d3e2;
}
.topbar .dropdown-menu {
  border: none;
  border-radius: 2px;
}
.topbar .dropdown-menu > li > a {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  vertical-align: middle;
}
.topbar .dropdown-menu > li > a > i {
  margin: 4px 4px 0 0;
  color: #95a5a6;
}
.topbar .dropdown-menu:before, .topbar .dropdown-menu:after {
  position: absolute;
  display: inline-block;
  content: '';
}
.topbar .dropdown-menu:before {
  top: -7px;
  right: 1.52em;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.topbar .dropdown-menu:after {
  top: -6px;
  right: 1.5em;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
}

/* For any button within the top navbar.
   Used for sidebar size toggle, search, notifications and settings button. */
button.btn-navbar {
  position: relative;
  color: #8eadcd;
  background-color: #203a4a;
  border: none;
  border-radius: 0.2em;
  font-size: 1.3em;
  margin: 0.55em;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
button.btn-navbar:hover {
  background-color: #1f3747;
  color: #d5e0ec;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
button.btn-navbar:focus {
  outline: none;
}
button.btn-navbar .events-count {
  position: absolute;
  top: -0.2em;
  right: -0.2em;
  background-color: #1abc9c;
  font-size: 0.55em;
  font-weight: 600;
  vertical-align: middle;
  color: #203a4a;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

/* Top navbar and sidebar search */
.navbar-search, .sidebar-search {
  display: inline-block;
}
.navbar-search input, .sidebar-search input {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  color: #bdc3c7;
  box-shadow: none;
  font-size: 0.85em;
  font-weight: 300;
  width: 7em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-search input:hover, .navbar-search input:focus, .sidebar-search input:hover, .sidebar-search input:focus {
  box-shadow: none;
}
.navbar-search input::-webkit-input-placeholder, .sidebar-search input::-webkit-input-placeholder {
  color: #81A0C0;
}
.navbar-search input:-moz-placeholder, .sidebar-search input:-moz-placeholder {
  color: #81A0C0;
}
.navbar-search input::-moz-placeholder, .sidebar-search input::-moz-placeholder {
  color: #81A0C0;
}
.navbar-search input:-ms-input-placeholder, .sidebar-search input:-ms-input-placeholder {
  color: #81A0C0;
}
.navbar-search input:focus, .sidebar-search input:focus {
  width: 12em;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar-search {
  display: block;
  position: relative;
  border-top: 1px solid #293d52;
  border-bottom: 1px solid #293d52;
}
.sidebar-search input {
  padding: 7px 25px 7px 7px;
  background-color: #3F566D;
  color: #2c3e50;
  font-weight: 600;
  border-radius: 3px;
  margin: 10px;
  width: 90%;
}
.sidebar-search input:focus {
  width: 90%;
  background-color: #4c6884;
  outline: none;
}
.sidebar-search:before {
  position: absolute;
  content: '\f002';
  color: #223344;
  top: 18px;
  right: 18px;
}

/* Top Bar Notifications Dropdown */
.notifications-dropdown ul.dropdown-menu {
  min-width: 260px;
}
.notifications-dropdown ul.dropdown-menu .divider {
  margin: 5px 0;
}
.notifications-dropdown ul.dropdown-menu .see-all a {
  padding: 5px 15px;
  font-size: 0.88em;
  font-weight: 400;
  color: #95a5a6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.notifications-dropdown ul.dropdown-menu .see-all a:hover {
  background-color: transparent;
  color: #3b526a;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.notifications-dropdown ul.dropdown-menu > li > a {
  padding: 10px 15px;
}
.notifications-dropdown ul.dropdown-menu > li > a > i {
  font-size: 2.2em;
  margin: 3px 6px 0 0;
  color: #DDDADA;
}
.notifications-dropdown .media-body {
  font-size: 0.9em;
  font-weight: 300;
  color: #bdc3c7;
  padding-right: 3.7em;
}
.notifications-dropdown .media-body .media-heading {
  font-size: 1.15em;
  font-weight: 400;
  color: #34495e;
}
.notifications-dropdown .badge {
  background-color: #d9ddde;
}

/*

SIDEBAR

*/
.sidebar {
  display: none;
  padding-bottom: 64px;
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 100%;
  background-color: #223344;
  z-index: 2;
}

/* For making sidebar fixed to the left of the window */
.sidebar-fixed {
  position: fixed;
  margin-top: 60px;
  overflow-y: scroll;
}

/* For hiding the sidebar
   Used when screen size is <500px */
.sidebar-hidden {
  display: none !important;
}

/* To make the sidebar peek out
   Used when screen size is <500px */
.sidebar-slim-peeking {
  display: block;
}

/* Navigation menu inside the sidebar */
.nav-sidebar li > a {
  color: #abbdc1;
}
.nav-sidebar > li span:before {
  content: '';
  margin-right: 6px;
}
.nav-sidebar > li.dropdown > a > span:before {
  margin: 0 5px 0 -7px;
  width: 8px;
  content: "\f105";
  color: #536b71;
}
.nav-sidebar > li.dropdown.active > a > span:before {
  content: "\f107";
}
.nav-sidebar > li > a {
  padding: 17px 11px 17px 15px;
  background-color: #223344;
  font-size: 0.90em;
  font-weight: 400;
  line-height: 1.1em;
  border-left: 3px solid transparent;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease;
  -moz-transition: background-color 0.1s ease, color 0.1s ease;
  -ms-transition: background-color 0.1s ease, color 0.1s ease;
  -o-transition: background-color 0.1s ease, color 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease;
}
.nav-sidebar > li > a > i {
  margin-right: 5px;
  color: #77939a;
  float: right;
  font-size: 1.7em;
  line-height: 0.75em;
  width: 1em;
  text-align: center;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease;
  -moz-transition: background-color 0.1s ease, color 0.1s ease;
  -ms-transition: background-color 0.1s ease, color 0.1s ease;
  -o-transition: background-color 0.1s ease, color 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease;
}
.nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus {
  -webkit-transition: background-color 0.1s ease, color 0.1s ease;
  -moz-transition: background-color 0.1s ease, color 0.1s ease;
  -ms-transition: background-color 0.1s ease, color 0.1s ease;
  -o-transition: background-color 0.1s ease, color 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease;
  background-color: #293d52;
  color: #ecf0f1;
  outline: none;
}
.nav-sidebar > li > a:hover i, .nav-sidebar > li > a:focus i {
  color: #cfd9db;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease;
  -moz-transition: background-color 0.1s ease, color 0.1s ease;
  -ms-transition: background-color 0.1s ease, color 0.1s ease;
  -o-transition: background-color 0.1s ease, color 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease;
}
.nav-sidebar > li.active > a {
  border-left-color: #d35400;
  background-color: #1b2936;
  color: #fff;
}
.nav-sidebar > li.active > a i {
  color: #fff;
}
.nav-sidebar li.dropdown > ul {
  display: none;
  padding-left: 0;
}
.nav-sidebar li.dropdown > ul li.active > a {
  background-color: #1f2e3d;
}
.nav-sidebar li.dropdown > ul > li.active > a {
  text-decoration: none;
  color: #ecf0f1;
  border-left-color: #f39c12;
}
.nav-sidebar li.dropdown > ul > li.active > a:before {
  content: '-';
}
.nav-sidebar li.dropdown > ul > li > a {
  display: block;
  padding: 8px 30px;
  background-color: #25384b;
  font-size: 0.85em;
  font-weight: 400;
  border-left: 2px solid transparent;
}
.nav-sidebar li.dropdown > ul > li > a:before {
  content: '–';
  margin: 0 5px 0 -3px;
  color: #5e7980;
}
.nav-sidebar li.dropdown > ul > li > a > i {
  float: none;
}
.nav-sidebar li.dropdown > ul > li > a:hover {
  text-decoration: none;
  background-color: #273b4e;
  border-left-color: #f39c12;
}
.nav-sidebar li.dropdown > ul > li.dropdown > a:before {
  content: "\f105";
}
.nav-sidebar li.dropdown > ul > li.dropdown.active > a:before {
  content: "\f107";
}
.nav-sidebar li.dropdown > ul > li > ul > li > a {
  padding-left: 50px;
}
.nav-sidebar li.dropdown > ul > li > ul > li > ul > li > a {
  padding-left: 70px;
}
.nav-sidebar li.dropdown > ul > li > ul > li > ul > li > ul > li > a {
  padding-left: 90px;
}
.nav-sidebar li.dropdown > ul > li > ul > li > ul > li > ul > li > ul > li > a {
  padding-left: 110px;
}

/* User profile inside the sidebar */
.sidebar-profile-wrapper {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Popover that opens on clicking on the profile area */
}
.sidebar-profile-wrapper .fa {
  position: absolute;
  top: 35px;
  right: 15px;
  color: #ecf0f1;
  display: none;
}
.sidebar-profile-wrapper .sidebar-profile {
  padding: 13px 11px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sidebar-profile-wrapper .sidebar-profile-avatar {
  float: left;
  width: 55px;
}
.sidebar-profile-wrapper .sidebar-profile-content {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  width: 115px;
}
.sidebar-profile-wrapper .sidebar-profile-content .welcome {
  margin-top: 2px;
  color: #b3b8bc;
  font-size: 0.67em;
  line-height: 1em;
}
.sidebar-profile-wrapper .sidebar-profile-content .name {
  margin-top: 2px;
  color: #ecf0f1;
  font-family: 'Raleway', sans-serif;
  font-size: 1.35em;
  font-weight: 100;
}
.sidebar-profile-wrapper .sidebar-profile-content .job-title {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 0;
  padding: 2px 4px;
  background-color: #385470;
  margin-top: 2px;
  color: #223344;
  font-size: 0.68em;
  font-weight: 600;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sidebar-profile-wrapper .sidebar-profile:hover {
  background-color: #273b4e;
}
.sidebar-profile-wrapper .sidebar-profile:hover .fa {
  display: block;
}
.sidebar-profile-wrapper .sidebar-profile:hover .job-title {
  background-color: #496e92;
}
.sidebar-profile-wrapper .popover {
  position: absolute;
  top: 10px !important;
  left: 100% !important;
  width: 260px;
  cursor: default;
  text-align: center;
}
.sidebar-profile-wrapper .popover form {
  font-size: 1.1em;
}
.sidebar-profile-wrapper .popover img {
  margin: 3px;
  width: 130px;
}
.sidebar-profile-wrapper .popover .arrow {
  top: 30px;
}
.sidebar-profile-wrapper .popover .arrow:after {
  border-right-color: #f7f7f7;
}
.sidebar-profile-wrapper .popover .popover-title {
  padding: 14px;
}
.sidebar-profile-wrapper .popover .sidebar-profile-popup-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-top: 12px;
}
.sidebar-profile-wrapper .popover .sidebar-profile-popup-location {
  font-size: 0.85em;
  margin-top: 10px;
  color: #95a5a6;
}
.sidebar-profile-wrapper .popover .sidebar-profile-popup-location i {
  color: #3498db;
}
.sidebar-profile-wrapper .popover .form-group {
  margin: 5px 0 10px 0;
}
.sidebar-profile-wrapper .popover .form-group .checkbox-inline span:before {
  text-align: left;
  left: -1.057142857142858em;
}
.sidebar-profile-wrapper .popover span.label.label-default {
  background-color: #cfcfcf;
  font-weight: 400;
}

/*

SLIM SIDEBAR

Using separate .sidebar-slim-width and .with-sidebar-slim class
to preserve the slide animation effect with jQuery

*/
.with-sidebar-slim .content-wrapper {
  margin-left: 75px;
  margin-top: 54px;
}

.with-sidebar-hidden .content-wrapper {
  margin-left: 0;
}

.sidebar-slim-width {
  width: 75px;
}

.sidebar-slim {
  overflow-y: visible !important;
}
.sidebar-slim .sidebar-profile {
  border-bottom: 1px solid #273b4e;
}
.sidebar-slim .sidebar-profile:hover .fa, .sidebar-slim .sidebar-search {
  display: none;
}
.sidebar-slim .sidebar-profile-avatar {
  width: 52px;
  margin: 0 auto;
}
.sidebar-slim .nav-sidebar > li > a > span {
  display: none;
}
.sidebar-slim .sidebar-profile-content .welcome, .sidebar-slim .sidebar-profile-content .name, .sidebar-slim .sidebar-profile-content .job-title {
  display: none;
}
.sidebar-slim .nav-sidebar > li > ul {
  position: absolute;
  left: 100%;
  top: 0;
  width: 200px;
}
.sidebar-slim .nav-sidebar > li > a > i {
  margin: 0 0 0 0.3em;
  float: none;
  font-size: 1.6em;
}

.content-wrapper {
  display: none;
  margin: 60px 0 0 210px;
  padding: 0 25px 25px;
  color: #2c3e50;
}
@media (max-width: 500px) {
  .content-wrapper {
    margin: 54px 0 0 210px;
    padding: 0 10px 10px;
  }
}

.page-title {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .page-title {
    font-size: 1.5em;
    margin-bottom: 8px;
  }
}

.page-sub-title {
  margin-left: 2px;
  margin-bottom: 20px;
  color: #95a5a6;
  font-size: 0.85em;
  font-weight: 300;
}

.btn.btn-v.page-title-btn, .bootstrap-select > .btn.page-title-btn {
  margin-top: 35px;
  font-size: 0.85em;
}

.widget {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  padding-top: 10px;
  color: #34495e;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.widget.row {
  margin-left: 0;
  margin-right: 0;
}
.widget .widget-title {
  font-size: 1.15em;
  font-weight: 500;
  margin: 5px 15px 18px;
  color: #bdc3c7;
}
.widget .widget-content {
  padding: 0 15px 10px;
}
.widget .widget-content blockquote {
  font-weight: 300;
}
.widget .widget-footnote {
  font-size: 0.9em;
  font-weight: 300;
  color: #bdc3c7;
}
.widget .widget-footnote:before {
  content: '\f05a';
  margin-right: 5px;
}
.widget .alert.alert-dismissable > .close {
  right: 0;
}

.panel {
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.panel, .panel .panel-heading {
  border: none;
}
.panel .panel-heading {
  font-family: 'Raleway', sans-serif;
}
.panel p {
  font-size: 0.9em;
}
.panel p.lead {
  font-size: 1.5em;
}
.panel blockquote p {
  font-size: 1.05em;
}
.panel blockquote p, .panel blockquote footer {
  font-weight: 300;
}
.panel.panel-default .panel-heading {
  background-color: #EBEBEB;
}
.panel.panel-clean .panel-heading {
  color: #bdc3c7;
  border-bottom-color: whitesmoke;
}
.panel.panel-clean .panel-body {
  padding-top: 10px;
}
.panel.panel-clean.tabs-fixed .panel-body {
  border-top: 1px solid #e3e3e3;
}
.panel.panel-dark .panel-heading {
  background-color: #3E5166;
  color: #ecf0f1;
}
.panel.panel-dark.tabs-fixed .nav.nav-tabs > li > a {
  color: #3E5166;
}
.panel.panel-primary {
  border-color: #4CA5DF;
}
.panel.panel-primary .panel-heading {
  background-color: #4CA5DF;
  border-bottom-color: #4CA5DF;
}
.panel.panel-primary.tabs-fixed .nav.nav-tabs > li > a {
  color: #4CA5DF;
}
.panel.panel-success {
  border-color: #1abc9c;
}
.panel.panel-success .panel-heading {
  background-color: #1abc9c;
  border-bottom-color: #1abc9c;
  color: #fff;
}
.panel.panel-success.tabs-fixed .nav.nav-tabs > li > a {
  color: #1abc9c;
}
.panel.panel-info .panel-heading {
  background-color: #BDE4FF;
}
.panel.panel-warning .panel-heading {
  background-color: #FFEFAD;
  color: #C3A36A;
}
.panel.panel-danger .panel-heading {
  background-color: #F17366;
  color: #fff;
}
.panel.panel-info.tabs-fixed .nav.nav-tabs > li > a {
  color: #87BEDA;
}
.panel.panel-warning.tabs-fixed .nav.nav-tabs > li > a {
  color: #F0CF4A;
}
.panel.panel-danger.tabs-fixed .nav.nav-tabs > li > a {
  color: #E4A0A0;
}
.panel.tabs-fixed .panel-heading {
  padding: 11px;
}
.panel.tabs-fixed ul.nav.nav-tabs {
  border: none;
  position: absolute;
  top: 1.11em;
  right: 1.11em;
}
.panel.tabs-fixed ul.nav.nav-tabs li {
  border: none;
}
.panel.tabs-fixed ul.nav.nav-tabs li a {
  padding: 5px 12px;
  margin-right: 1px;
  border: 1px solid transparent;
  border-top: none;
  border-radius: 0;
  background-color: #ebebeb;
  color: #7f8c8d;
  font-size: 0.9em;
}
.panel.tabs-fixed ul.nav.nav-tabs li a:hover {
  background-color: #e1e1e1;
}
.panel.tabs-fixed ul.nav.nav-tabs li.active > a {
  background-color: #dedede;
  border-color: #dedede;
}
.panel.tabs-fixed ul.nav.nav-tabs li.active > a:hover {
  background-color: #dedede;
}
.panel.tabs-fixed.panel-dark ul.nav.nav-tabs > li > a, .panel.tabs-fixed.panel-dark ul.nav.nav-tabs > li > a:hover, .panel.tabs-fixed.panel-primary ul.nav.nav-tabs > li > a, .panel.tabs-fixed.panel-primary ul.nav.nav-tabs > li > a:hover, .panel.tabs-fixed.panel-success ul.nav.nav-tabs > li > a, .panel.tabs-fixed.panel-success ul.nav.nav-tabs > li > a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.panel.tabs-fixed.panel-dark ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed.panel-primary ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed.panel-success ul.nav.nav-tabs > li.active > a {
  border-color: white;
}
.panel.tabs-fixed.panel-dark ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed.panel-dark ul.nav.nav-tabs > li.active > a:hover, .panel.tabs-fixed.panel-primary ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed.panel-primary ul.nav.nav-tabs > li.active > a:hover, .panel.tabs-fixed.panel-success ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed.panel-success ul.nav.nav-tabs > li.active > a:hover {
  background-color: white;
}
.panel.tabs-fixed.panel-info ul.nav.nav-tabs > li > a, .panel.tabs-fixed.panel-info ul.nav.nav-tabs > li > a:hover, .panel.tabs-fixed.panel-warning ul.nav.nav-tabs > li > a, .panel.tabs-fixed.panel-warning ul.nav.nav-tabs > li > a:hover, .panel.tabs-fixed.panel-danger ul.nav.nav-tabs > li > a, .panel.tabs-fixed.panel-danger ul.nav.nav-tabs > li > a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.panel.tabs-fixed.panel-info ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed.panel-warning ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed.panel-danger ul.nav.nav-tabs > li.active > a {
  border-color: white;
}
.panel.tabs-fixed.panel-info ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed.panel-info ul.nav.nav-tabs > li.active > a:hover, .panel.tabs-fixed.panel-warning ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed.panel-warning ul.nav.nav-tabs > li.active > a:hover, .panel.tabs-fixed.panel-danger ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed.panel-danger ul.nav.nav-tabs > li.active > a:hover {
  background-color: white;
}
.panel.tabs-fixed-slim ul.nav.nav-tabs {
  border: none;
  position: absolute;
  top: 0;
  right: 15px;
}
.panel.tabs-fixed-slim ul.nav.nav-tabs li {
  border: none;
}
.panel.tabs-fixed-slim ul.nav.nav-tabs li:first-child > a {
  border-bottom-left-radius: 5px;
}
.panel.tabs-fixed-slim ul.nav.nav-tabs li:last-child > a {
  border-bottom-right-radius: 5px;
}
.panel.tabs-fixed-slim ul.nav.nav-tabs li.active > a {
  background-color: #3498db;
  border-color: #3498db;
}
.panel.tabs-fixed-slim ul.nav.nav-tabs li.active > a:hover {
  background-color: #3498db;
}
.panel.tabs-fixed-slim ul.nav.nav-tabs li a {
  padding: 5px 12px;
  margin-right: 1px;
  border: 1px solid transparent;
  border-top: none;
  border-radius: 0;
  background-color: #2980b9;
  color: #fff;
  font-size: 0.85em;
}
.panel.tabs-fixed-slim ul.nav.nav-tabs li a:hover {
  background-color: #2677ac;
}
.panel.panel-primary.tabs-fixed-slim .nav.nav-tabs > li > a {
  color: #4CA5DF;
}
.panel.panel-success.tabs-fixed-slim .nav.nav-tabs > li > a {
  color: #1abc9c;
}
.panel.panel-info.tabs-fixed-slim .nav.nav-tabs > li > a {
  color: #87BEDA;
}
.panel.panel-warning.tabs-fixed-slim .nav.nav-tabs > li > a {
  color: #f1c40f;
}
.panel.panel-danger.tabs-fixed-slim .nav.nav-tabs > li > a {
  color: #E4A0A0;
}
.panel.tabs-fixed-slim.panel-primary ul.nav.nav-tabs > li > a, .panel.tabs-fixed-slim.panel-primary ul.nav.nav-tabs > li > a:hover, .panel.tabs-fixed-slim.panel-success ul.nav.nav-tabs > li > a, .panel.tabs-fixed-slim.panel-success ul.nav.nav-tabs > li > a:hover, .panel.tabs-fixed-slim.panel-info ul.nav.nav-tabs > li > a, .panel.tabs-fixed-slim.panel-info ul.nav.nav-tabs > li > a:hover, .panel.tabs-fixed-slim.panel-warning ul.nav.nav-tabs > li > a, .panel.tabs-fixed-slim.panel-warning ul.nav.nav-tabs > li > a:hover, .panel.tabs-fixed-slim.panel-danger ul.nav.nav-tabs > li > a, .panel.tabs-fixed-slim.panel-danger ul.nav.nav-tabs > li > a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.panel.tabs-fixed-slim.panel-primary ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed-slim.panel-success ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed-slim.panel-info ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed-slim.panel-warning ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed-slim.panel-danger ul.nav.nav-tabs > li.active > a {
  border-color: white;
}
.panel.tabs-fixed-slim.panel-primary ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed-slim.panel-primary ul.nav.nav-tabs > li.active > a:hover, .panel.tabs-fixed-slim.panel-success ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed-slim.panel-success ul.nav.nav-tabs > li.active > a:hover, .panel.tabs-fixed-slim.panel-info ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed-slim.panel-info ul.nav.nav-tabs > li.active > a:hover, .panel.tabs-fixed-slim.panel-warning ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed-slim.panel-warning ul.nav.nav-tabs > li.active > a:hover, .panel.tabs-fixed-slim.panel-danger ul.nav.nav-tabs > li.active > a, .panel.tabs-fixed-slim.panel-danger ul.nav.nav-tabs > li.active > a:hover {
  background-color: white;
}
.panel .widget-info {
  margin: 10px 0 5px;
  padding: 7px 10px;
  border: 2px solid #f5f5f5;
  border-radius: 3px;
  font-size: 0.9em;
  color: #7f8c8d;
}
.panel .widget-info p {
  margin: 6px 0;
  line-height: 1.8em;
}
.panel .widget-info p:first-child {
  margin-top: 0;
}
.panel .widget-info p:last-child {
  margin-bottom: 0;
}
.panel .widget-info p:only-of-type {
  margin-bottom: 6px;
}
.panel .widget-info pre {
  margin: 4px 0;
  font-size: 0.85em;
  background-color: #f5f5f5;
}
.panel .widget-info code {
  background-color: #f5f5f5;
  color: #16a085;
}
.panel .subtitle {
  margin: 10px 0 3px 4px;
  font-size: 0.8em;
  color: #bdc3c7;
  display: table;
  white-space: nowrap;
}
.panel .subtitle:before, .panel .subtitle:after {
  border-top: 1px solid #ecf0f1;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.6em;
}
.panel .subtitle:before {
  width: 5px;
  right: 3px;
}
.panel .subtitle:after {
  width: 5px;
  left: 3px;
}
.panel .widget-info-fixed-size {
  position: relative;
}
.panel .widget-info-fixed-size .widget-info {
  overflow: scroll;
  height: 120px;
}
.panel .widget-info-fixed-size.open .widget-info {
  overflow: visible;
  height: auto;
}
.panel .widget-info-fixed-size .expand {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 3px;
  background: #fff;
  border: 2px solid #ecf0f1;
  border-top-left-radius: 3px;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  color: #D0D4D4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.panel .widget-info-fixed-size .expand:hover {
  color: #B0B4B4;
}

.btn {
  border: none;
  font-size: 0.9em;
  font-weight: 400;
  margin: 5px 2px;
  border-radius: 2px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.btn:focus {
  outline: none;
}
.btn:active, .btn.active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.125);
  outline: none !important;
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -ms-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
}
.btn.btn-default {
  background-color: #ecf0f1;
}
.btn.btn-default:hover {
  background-color: #f8f9fa;
}
.btn.btn-default:active, .btn.btn-default.active {
  background-color: #e0e7e8;
}
.btn.btn-default.btn-rounded {
  background: -webkit-linear-gradient(top, #f5f7f7, #dde4e6);
  background: -moz-linear-gradient(top, #f5f7f7, #dde4e6);
  background: -o-linear-gradient(top, #f5f7f7, #dde4e6);
  background: linear-gradient(top, #f5f7f7, #dde4e6);
  border: 1px solid #dde4e6;
}
.btn.btn-default.btn-rounded:hover {
  background: -webkit-linear-gradient(top, #f5f7f7, #e9eeef);
  background: -moz-linear-gradient(top, #f5f7f7, #e9eeef);
  background: -o-linear-gradient(top, #f5f7f7, #e9eeef);
  background: linear-gradient(top, #f5f7f7, #e9eeef);
}
.btn.btn-default.btn-rounded:active, .btn.btn-default.btn-rounded.active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(top, #f2f5f5, #dae2e4);
  background: -moz-linear-gradient(top, #f2f5f5, #dae2e4);
  background: -o-linear-gradient(top, #f2f5f5, #dae2e4);
  background: linear-gradient(top, #f2f5f5, #dae2e4);
}
.btn.btn-primary {
  background-color: #2980b9;
}
.btn.btn-primary:hover {
  background-color: #2d8cca;
}
.btn.btn-primary:active, .btn.btn-primary.active {
  background-color: #2574a8;
}
.btn.btn-primary.btn-rounded {
  background: -webkit-linear-gradient(top, #2c89c6, #2472a4);
  background: -moz-linear-gradient(top, #2c89c6, #2472a4);
  background: -o-linear-gradient(top, #2c89c6, #2472a4);
  background: linear-gradient(top, #2c89c6, #2472a4);
  border: 1px solid #2472a4;
}
.btn.btn-primary.btn-rounded:hover {
  background: -webkit-linear-gradient(top, #2c89c6, #287db5);
  background: -moz-linear-gradient(top, #2c89c6, #287db5);
  background: -o-linear-gradient(top, #2c89c6, #287db5);
  background: linear-gradient(top, #2c89c6, #287db5);
}
.btn.btn-primary.btn-rounded:active, .btn.btn-primary.btn-rounded.active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(top, #2b86c1, #236fa0);
  background: -moz-linear-gradient(top, #2b86c1, #236fa0);
  background: -o-linear-gradient(top, #2b86c1, #236fa0);
  background: linear-gradient(top, #2b86c1, #236fa0);
}
.btn.btn-success {
  background-color: #16a085;
}
.btn.btn-success:hover {
  background-color: #18b294;
}
.btn.btn-success:active, .btn.btn-success.active {
  background-color: #148e76;
}
.btn.btn-success.btn-rounded {
  background: -webkit-linear-gradient(top, #18ad90, #138a72);
  background: -moz-linear-gradient(top, #18ad90, #138a72);
  background: -o-linear-gradient(top, #18ad90, #138a72);
  background: linear-gradient(top, #18ad90, #138a72);
  border: 1px solid #138a72;
}
.btn.btn-success.btn-rounded:hover {
  background: -webkit-linear-gradient(top, #18ad90, #159c81);
  background: -moz-linear-gradient(top, #18ad90, #159c81);
  background: -o-linear-gradient(top, #18ad90, #159c81);
  background: linear-gradient(top, #18ad90, #159c81);
}
.btn.btn-success.btn-rounded:active, .btn.btn-success.btn-rounded.active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(top, #17a98c, #12856f);
  background: -moz-linear-gradient(top, #17a98c, #12856f);
  background: -o-linear-gradient(top, #17a98c, #12856f);
  background: linear-gradient(top, #17a98c, #12856f);
}
.btn.btn-info {
  background-color: #53a5db;
}
.btn.btn-info:hover {
  background-color: #64aedf;
}
.btn.btn-info:active, .btn.btn-info.active {
  background-color: #429cd7;
}
.btn.btn-info.btn-rounded {
  background: -webkit-linear-gradient(top, #60acde, #3e9ad7);
  background: -moz-linear-gradient(top, #60acde, #3e9ad7);
  background: -o-linear-gradient(top, #60acde, #3e9ad7);
  background: linear-gradient(top, #60acde, #3e9ad7);
  border: 1px solid #3e9ad7;
}
.btn.btn-info.btn-rounded:hover {
  background: -webkit-linear-gradient(top, #60acde, #4fa3da);
  background: -moz-linear-gradient(top, #60acde, #4fa3da);
  background: -o-linear-gradient(top, #60acde, #4fa3da);
  background: linear-gradient(top, #60acde, #4fa3da);
}
.btn.btn-info.btn-rounded:active, .btn.btn-info.btn-rounded.active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(top, #5ba9dd, #3a98d6);
  background: -moz-linear-gradient(top, #5ba9dd, #3a98d6);
  background: -o-linear-gradient(top, #5ba9dd, #3a98d6);
  background: linear-gradient(top, #5ba9dd, #3a98d6);
}
.btn.btn-warning {
  background-color: #f7b650;
}
.btn.btn-warning:hover {
  background-color: #f8be64;
}
.btn.btn-warning:active, .btn.btn-warning.active {
  background-color: #f6ae3c;
}
.btn.btn-warning.btn-rounded {
  background: -webkit-linear-gradient(top, #f8bc5f, #f6ac38);
  background: -moz-linear-gradient(top, #f8bc5f, #f6ac38);
  background: -o-linear-gradient(top, #f8bc5f, #f6ac38);
  background: linear-gradient(top, #f8bc5f, #f6ac38);
  border: 1px solid #f6ac38;
}
.btn.btn-warning.btn-rounded:hover {
  background: -webkit-linear-gradient(top, #f8bc5f, #f7b44b);
  background: -moz-linear-gradient(top, #f8bc5f, #f7b44b);
  background: -o-linear-gradient(top, #f8bc5f, #f7b44b);
  background: linear-gradient(top, #f8bc5f, #f7b44b);
}
.btn.btn-warning.btn-rounded:active, .btn.btn-warning.btn-rounded.active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(top, #f7ba5a, #f6aa33);
  background: -moz-linear-gradient(top, #f7ba5a, #f6aa33);
  background: -o-linear-gradient(top, #f7ba5a, #f6aa33);
  background: linear-gradient(top, #f7ba5a, #f6aa33);
}
.btn.btn-danger {
  background-color: #f55f4f;
}
.btn.btn-danger:hover {
  background-color: #f67162;
}
.btn.btn-danger:active, .btn.btn-danger.active {
  background-color: #f44d3c;
}
.btn.btn-danger.btn-rounded {
  background: -webkit-linear-gradient(top, #f66c5d, #f44937);
  background: -moz-linear-gradient(top, #f66c5d, #f44937);
  background: -o-linear-gradient(top, #f66c5d, #f44937);
  background: linear-gradient(top, #f66c5d, #f44937);
  border: 1px solid #f44937;
}
.btn.btn-danger.btn-rounded:hover {
  background: -webkit-linear-gradient(top, #f66c5d, #f55b4a);
  background: -moz-linear-gradient(top, #f66c5d, #f55b4a);
  background: -o-linear-gradient(top, #f66c5d, #f55b4a);
  background: linear-gradient(top, #f66c5d, #f55b4a);
}
.btn.btn-danger.btn-rounded:active, .btn.btn-danger.btn-rounded.active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(top, #f66859, #f34532);
  background: -moz-linear-gradient(top, #f66859, #f34532);
  background: -o-linear-gradient(top, #f66859, #f34532);
  background: linear-gradient(top, #f66859, #f34532);
}
.btn.btn-inverse {
  background-color: #34495e;
}
.btn.btn-inverse:hover {
  background-color: #3b536b;
}
.btn.btn-inverse:active, .btn.btn-inverse.active {
  background-color: #2d3f51;
}
.btn.btn-inverse.btn-rounded {
  background: -webkit-linear-gradient(top, #395168, #2b3c4e);
  background: -moz-linear-gradient(top, #395168, #2b3c4e);
  background: -o-linear-gradient(top, #395168, #2b3c4e);
  background: linear-gradient(top, #395168, #2b3c4e);
  border: 1px solid #2b3c4e;
}
.btn.btn-inverse.btn-rounded:hover {
  background: -webkit-linear-gradient(top, #395168, #32465b);
  background: -moz-linear-gradient(top, #395168, #32465b);
  background: -o-linear-gradient(top, #395168, #32465b);
  background: linear-gradient(top, #395168, #32465b);
}
.btn.btn-inverse.btn-rounded:active, .btn.btn-inverse.btn-rounded.active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(top, #384e65, #293a4a);
  background: -moz-linear-gradient(top, #384e65, #293a4a);
  background: -o-linear-gradient(top, #384e65, #293a4a);
  background: linear-gradient(top, #384e65, #293a4a);
}
.btn.btn-facebook {
  background-color: #3b5998;
}
.btn.btn-facebook:hover {
  background-color: #4162a7;
}
.btn.btn-facebook:active, .btn.btn-facebook.active {
  background-color: #355089;
}
.btn.btn-facebook.btn-rounded {
  background: -webkit-linear-gradient(top, #3f5fa3, #344e86);
  background: -moz-linear-gradient(top, #3f5fa3, #344e86);
  background: -o-linear-gradient(top, #3f5fa3, #344e86);
  background: linear-gradient(top, #3f5fa3, #344e86);
  border: 1px solid #344e86;
}
.btn.btn-facebook.btn-rounded:hover {
  background: -webkit-linear-gradient(top, #3f5fa3, #3a5794);
  background: -moz-linear-gradient(top, #3f5fa3, #3a5794);
  background: -o-linear-gradient(top, #3f5fa3, #3a5794);
  background: linear-gradient(top, #3f5fa3, #3a5794);
}
.btn.btn-facebook.btn-rounded:active, .btn.btn-facebook.btn-rounded.active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(top, #3e5d9f, #324c82);
  background: -moz-linear-gradient(top, #3e5d9f, #324c82);
  background: -o-linear-gradient(top, #3e5d9f, #324c82);
  background: linear-gradient(top, #3e5d9f, #324c82);
}
.btn.btn-twitter {
  background-color: #4099ff;
}
.btn.btn-twitter:hover {
  background-color: #54a4ff;
}
.btn.btn-twitter:active, .btn.btn-twitter.active {
  background-color: #2c8eff;
}
.btn.btn-twitter.btn-rounded {
  background: -webkit-linear-gradient(top, #4fa1ff, #268bff);
  background: -moz-linear-gradient(top, #4fa1ff, #268bff);
  background: -o-linear-gradient(top, #4fa1ff, #268bff);
  background: linear-gradient(top, #4fa1ff, #268bff);
  border: 1px solid #268bff;
}
.btn.btn-twitter.btn-rounded:hover {
  background: -webkit-linear-gradient(top, #4fa1ff, #3b96ff);
  background: -moz-linear-gradient(top, #4fa1ff, #3b96ff);
  background: -o-linear-gradient(top, #4fa1ff, #3b96ff);
  background: linear-gradient(top, #4fa1ff, #3b96ff);
}
.btn.btn-twitter.btn-rounded:active, .btn.btn-twitter.btn-rounded.active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(top, #4a9eff, #2189ff);
  background: -moz-linear-gradient(top, #4a9eff, #2189ff);
  background: -o-linear-gradient(top, #4a9eff, #2189ff);
  background: linear-gradient(top, #4a9eff, #2189ff);
}
.btn.btn-google-plus {
  background-color: #dd4b39;
}
.btn.btn-google-plus:hover {
  background-color: #e05b4a;
}
.btn.btn-google-plus:active, .btn.btn-google-plus.active {
  background-color: #da3b28;
}
.btn.btn-google-plus.btn-rounded {
  background: -webkit-linear-gradient(top, #df5746, #d73925);
  background: -moz-linear-gradient(top, #df5746, #d73925);
  background: -o-linear-gradient(top, #df5746, #d73925);
  background: linear-gradient(top, #df5746, #d73925);
  border: 1px solid #d73925;
}
.btn.btn-google-plus.btn-rounded:hover {
  background: -webkit-linear-gradient(top, #df5746, #dc4735);
  background: -moz-linear-gradient(top, #df5746, #dc4735);
  background: -o-linear-gradient(top, #df5746, #dc4735);
  background: linear-gradient(top, #df5746, #dc4735);
}
.btn.btn-google-plus.btn-rounded:active, .btn.btn-google-plus.btn-rounded.active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(top, #de5342, #d33724);
  background: -moz-linear-gradient(top, #de5342, #d33724);
  background: -o-linear-gradient(top, #de5342, #d33724);
  background: linear-gradient(top, #de5342, #d33724);
}
.btn.btn-default:hover {
  background-color: #f2f5f5;
}
.btn.btn-default:active:hover, .btn.btn-default.active:hover {
  background-color: #f2f5f5;
}
.btn.btn-xs {
  font-size: 0.85em;
}
.btn.btn-lg, .btn-group-lg > .btn {
  font-size: 1.2em;
}
.btn.btn-flat {
  border-radius: 0;
}
.btn.btn-default {
  color: #34495e;
}
.btn.btn-inverse {
  color: #ecf0f1;
}
.btn.btn-facebook, .btn.btn-twitter, .btn.btn-google-plus {
  color: #fff;
}
.btn.btn-wide {
  font-weight: 600;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn.btn-super {
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 25px;
}
.btn i {
  margin-right: 5px;
}
.btn.btn-icon {
  font-size: 1em;
  width: 2.6em;
  height: 2.6em;
  border-radius: 50%;
  text-align: center;
}
.btn.btn-icon i {
  margin-right: 0;
}
.btn-group.open .btn .dropdown-toggle {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
}
.btn-group-vertical .btn {
  margin: 0 0 2px 0;
}
.btn-group-justified .btn {
  border: 1px solid white;
}

.dropdown-menu {
  border-color: #ecf0f1;
}
.dropdown-menu li > a {
  padding: 6px 15px;
  font-size: 0.9em;
  font-weight: 600;
  color: #2c3e50;
}

.panel .alert {
  padding: 12px 15px;
  border: none;
  font-size: 0.9em;
}
.panel .alert.alert-default {
  background-color: #ecf0f1;
}
.panel .alert.alert-default, .panel .alert.alert-default .alert-link {
  color: #7f8c8d;
}

.alert.alert-page {
  background-color: #fff;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left-width: 6px;
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.07em;
}
.alert.alert-page .btn {
  margin-top: 10px;
  font-weight: 600;
}
.alert.alert-page.alert-info {
  border-color: #60B2E9;
}
.alert.alert-page.alert-warning {
  border-color: #FFE373;
}
.alert.alert-page.alert-danger {
  border-color: #F87F73;
}

.breadcrumb-v {
  background: transparent;
  list-style: none;
  padding-left: 0;
  margin: 5px 0 15px;
  font-size: 0.8em;
}
.breadcrumb-v li {
  display: inline-block;
  margin-right: -3px;
}
.breadcrumb-v li:first-child a {
  padding-left: 8px;
}
.breadcrumb-v li:last-child a:after {
  content: none;
}
.breadcrumb-v li.highlight a {
  background-color: #3498db;
  color: #ecf0f1;
  font-weight: 400;
}
.breadcrumb-v li.highlight a:after {
  background-color: #3498db;
  border-color: #3498db;
  -webkit-transform: scale(0.707) rotate(45deg);
  -moz-transform: scale(0.707) rotate(45deg);
  -ms-transform: scale(0.707) rotate(45deg);
  -o-transform: scale(0.707) rotate(45deg);
  transform: scale(0.707) rotate(45deg);
}
.breadcrumb-v a {
  display: inline-block;
  line-height: 22px;
  background-color: #fafafa;
  color: #95a5a6;
  font-weight: 600;
  padding: 0 11.5px 0 20px;
}
.breadcrumb-v a:hover {
  text-decoration: none;
  color: #34495e;
}
.breadcrumb-v a:after {
  content: '';
  position: absolute;
  background-color: #fafafa;
  border-top: 2px solid #ecf0f1;
  border-right: 2px solid #ecf0f1;
  margin: 0 0 1px 1px;
  width: 22px;
  height: 22px;
  -webkit-transform: scale(0.767) rotate(45deg);
  -moz-transform: scale(0.767) rotate(45deg);
  -ms-transform: scale(0.767) rotate(45deg);
  -o-transform: scale(0.767) rotate(45deg);
  transform: scale(0.767) rotate(45deg);
}
.breadcrumb-v.breadcrumb-v-inverse li.highlight a {
  background-color: #34495e;
}
.breadcrumb-v.breadcrumb-v-inverse li.highlight a:after {
  background-color: #34495e;
  border-color: #34495e;
}

.breadcrumb.breadcrumb-plain {
  font-size: 0.86em;
  background-color: #F7F7F7;
}
.breadcrumb.breadcrumb-plain > li > a {
  color: #3498db;
}
.breadcrumb.breadcrumb-plain.breadcrumb-plain-inverse {
  background-color: #34495e;
}
.breadcrumb.breadcrumb-plain.breadcrumb-plain-inverse > li > a {
  color: #1abc9c;
}
.breadcrumb.breadcrumb-plain.breadcrumb-plain-inverse > li.active {
  color: #bdc3c7;
}

.pagination > li > a {
  border-color: #bdc3c7;
  color: #7f8c8d;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 0.9em;
}
.pagination > li > a:hover {
  color: #2c3e50;
  background-color: #ecf0f1;
  border-color: #bdc3c7;
}
.pagination.pagination-sm > li > a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8em;
}
.pagination.pagination-lg > li > a {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
}
.pagination > li.active > a {
  background-color: #3498db;
}
.pagination > li.active > a:hover {
  border-color: none;
}
.pagination.pagination-inverse > li > a {
  background-color: #505F6F;
  color: #fff;
  border-color: #fff;
}
.pagination.pagination-inverse > li > a:hover {
  background-color: #2c3e50;
}
.pagination.pagination-inverse > li.active > a {
  background-color: #27ae60;
}
.pagination.pagination-inverse > li.active > a:hover {
  border-color: #fff;
}
.pagination.pagination-inverse > li.disabled > a {
  color: #bdc3c7;
}
.pagination.pagination-inverse > li.disabled > a:hover {
  background-color: #505F6F;
}
.panel .pagination {
  margin: 7px 0;
}

.pager > li > a {
  font-size: 0.9em;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.pager.pager-inverse > li > a {
  border-color: #fff;
  background-color: #34495e;
  color: #ecf0f1;
}
.pager.pager-inverse > li > a:hover {
  background-color: #2980b9;
}
.pager.pager-inverse > li.disabled > a {
  background-color: #95a5a6;
}
.pager.pager-inverse > li.disabled > a:hover {
  color: #ecf0f1;
}

.label.label-default {
  background-color: #D6DADB;
}
.label.label-primary {
  background-color: #3498db;
}
.label.label-success {
  background-color: #1abc9c;
}
.label.label-warning {
  background-color: #f1c40f;
}
.label.label-danger {
  background-color: #e74c3c;
}

.progress-bar.progress-bar-success {
  background-color: #1abc9c;
}
.progress-bar.progress-bar-warning {
  background-color: #f1c40f;
}
.progress-bar.progress-bar-danger {
  background-color: #c0392b;
}

.progress {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkir-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.progress-slim {
  height: 6px;
  border-radius: 2px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.progress-slim > .progress-bar > span {
  display: none;
}

.modal .modal-content {
  border-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}
.modal .modal-content p {
  font-size: 0.9em;
}
.modal .modal-footer .btn {
  margin-bottom: 0;
}

.form-control {
  font-size: 0.9em;
  padding: 7px 12px;
  border-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-control:focus {
  border-color: #A2A3A5;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.form-group .help-block {
  font-size: 0.9em;
}
.form-group .file-input-wrapper input[type="file"] {
  display: none;
}
.form-group .file-input-wrapper .file-name {
  display: inline-block;
  font-size: 0.85em;
}
.form-group label {
  font-size: 0.9em;
  font-weight: 600;
  color: #34495e;
}
.form-group.has-success .form-control, .form-group.has-warning .form-control, .form-group.has-error .form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-group.has-success .form-control {
  border-color: #28B89B;
}
.form-group.has-success .help-block, .form-group.has-success label {
  color: #28B89B;
}
.form-group.has-warning .form-control {
  border-color: #E5A53E;
}
.form-group.has-warning .help-block, .form-group.has-warning label {
  color: #E5A53E;
}
.form-group.has-error .form-control {
  border-color: #E27367;
}
.form-group.has-error .help-block, .form-group.has-error label {
  color: #E27367;
}

.input-group-btn {
  font-size: 1.1em;
}
.input-group-btn .btn {
  margin: 0;
  border: 1px solid #ccc;
}
.input-group-btn .btn + .btn {
  margin-left: -5px;
}

.panel-group .panel {
  font-size: 0.9em;
  border-color: #ecf0f1;
  border-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.panel-group .panel.panel-default .panel-heading {
  background-color: #ecf0f1;
}
.panel-group .panel .panel-heading + .panel-collapse .panel-body {
  border: none;
}
.panel-group .panel .panel-title {
  font-size: 1.1em;
}
.panel-group .panel .panel-title a:hover {
  text-decoration: none;
}

.tooltip .tooltip-inner {
  background-color: #dce0e1;
  color: #34495e;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #dce0e1;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #dce0e1;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #dce0e1;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #dce0e1;
}

.popover {
  padding: 0;
  border-radius: 4px;
  border-color: #dce0e1;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
}
.popover .popover-content {
  font-size: 0.9em;
}
.popover.right > .arrow {
  border-right-color: #dce0e1;
}
.popover.left > .arrow {
  border-left-color: #dce0e1;
}
.popover.top > .arrow {
  border-top-color: #dce0e1;
}
.popover.bottom > .arrow {
  border-bottom-color: #dce0e1;
}

.radio, .radio-inline, .checkbox, .checkbox-inline {
  padding-left: 0;
}
.radio label, .radio-inline label, .checkbox label, .checkbox-inline label {
  font-size: 0.9em;
}
.radio input[type="radio"], .radio input[type="checkbox"], .radio-inline input[type="radio"], .radio-inline input[type="checkbox"], .checkbox input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="radio"], .checkbox-inline input[type="checkbox"] {
  display: none;
  margin-left: -12px;
}
.radio input[type="radio"]:checked + span:before, .radio input[type="checkbox"]:checked + span:before, .radio-inline input[type="radio"]:checked + span:before, .radio-inline input[type="checkbox"]:checked + span:before, .checkbox input[type="radio"]:checked + span:before, .checkbox input[type="checkbox"]:checked + span:before, .checkbox-inline input[type="radio"]:checked + span:before, .checkbox-inline input[type="checkbox"]:checked + span:before {
  content: '\f192';
}
.radio input[type="radio"]:disabled + span, .radio input[type="checkbox"]:disabled + span, .radio-inline input[type="radio"]:disabled + span, .radio-inline input[type="checkbox"]:disabled + span, .checkbox input[type="radio"]:disabled + span, .checkbox input[type="checkbox"]:disabled + span, .checkbox-inline input[type="radio"]:disabled + span, .checkbox-inline input[type="checkbox"]:disabled + span {
  color: #7f8c8d;
}
.radio span, .radio-inline span, .checkbox span, .checkbox-inline span {
  position: relative;
  left: 1.2857142857142858em;
}
.radio span:before, .radio-inline span:before, .checkbox span:before, .checkbox-inline span:before {
  position: absolute;
  display: inline-block;
  width: 1.2857142857142858em;
  content: '\f10c';
  font-size: 1.2em;
  left: -1.1057142857142858em;
  top: 2px;
}
.radio span, .radio-inline span, .checkbox span, .checkbox-inline span {
  font-weight: 400;
}
.radio span:hover, .radio-inline span:hover, .checkbox span:hover, .checkbox-inline span:hover {
  cursor: pointer;
}

.checkbox input[type="checkbox"]:checked + span:before, .checkbox-inline input[type="checkbox"]:checked + span:before {
  content: '\f046';
}
.checkbox span:before, .checkbox-inline span:before {
  content: '\f096';
}

.radio-inline, .checkbox-inline {
  margin-right: 12px;
}

.form-inline .radio, .form-inline .checkbox {
  margin-right: 16px;
}

.input-group {
  margin: 5px 0 15px;
}

/* Tool tip for flot charts */
#flotTip {
  padding: 3px 5px;
  background-color: #223344;
  color: #ecf0f1;
  font-size: 0.85em;
  font-weight: 300;
  border-radius: 3px;
}

/* Full Calendar Customization */
.fullcalendar {
  margin-top: 10px;
  padding-bottom: 15px;
}
.fullcalendar .fc-header-title h2 {
  font-size: 1.25em;
  font-weight: 300;
  color: #34495e;
}
.fullcalendar .fc-widget-header {
  font-weight: 500;
  color: #95a5a6;
}
.fullcalendar .fc-widget-content {
  font-weight: 300;
}
.fullcalendar .fc-button {
  font-size: 0.7em;
  font-weight: 600;
  color: #7f8c8d;
}
.fullcalendar .fc-state-default, .fullcalendar .fc-state-down, .fullcalendar .fc-state-active {
  border: none;
  box-shadow: none;
}
.fullcalendar .fc-state-default {
  background-image: none;
}
.fullcalendar .fc-state-active {
  background-color: #E2E6E9;
}
.fullcalendar .fc-state-highlight {
  background-color: #FCEAA4;
  font-weight: 600;
  color: #34495e;
}
.fullcalendar .fc-event {
  background-color: #485A6D;
  border: none;
  font-size: 0.8em;
  padding: 1px;
}
.fullcalendar a.fc-event:hover {
  color: white;
  background-color: #2980b9;
}
.fullcalendar .fc-cell-overlay {
  background-color: #D1D1D1;
}
.fullcalendar.fullcalendar-lg .fc-event {
  background-color: #16a085;
  margin-left: 3px;
  margin-right: 3px;
  padding: 3px;
  font-size: 0.9em;
}
.fullcalendar.fullcalendar-lg .fc-state-highlight {
  background-color: #fff7c3;
}

/* Custom styles for datatables */
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_info {
  float: left;
}
.dataTables_wrapper thead > tr > th.sorting, .dataTables_wrapper thead > tr > th.sorting_asc, .dataTables_wrapper thead > tr > th.sorting_desc {
  cursor: pointer;
}
.dataTables_wrapper thead > tr > th.sorting:hover, .dataTables_wrapper thead > tr > th.sorting_asc:hover, .dataTables_wrapper thead > tr > th.sorting_desc:hover {
  background: #ecf0f1;
}
.dataTables_wrapper thead > tr > th.sorting:active, .dataTables_wrapper thead > tr > th.sorting_asc:active, .dataTables_wrapper thead > tr > th.sorting_desc:active {
  outline: none;
}
.dataTables_wrapper thead > tr > th.sorting_asc:after {
  content: '\f0dd';
  float: right;
}
.dataTables_wrapper thead > tr > th.sorting_desc:before {
  content: '\f0de';
  float: right;
  margin-top: 4px;
}
.dataTables_wrapper tbody > tr.even {
  background-color: #FAFAFA;
}
.dataTables_wrapper .dataTables_filter > label {
  font-weight: 400;
  font-size: 0.9em;
}
.dataTables_wrapper .dataTables_filter > label input[type='text'] {
  padding: 4px;
  border: none;
  border-bottom: 1px solid #ecf0f1;
  background-color: #ecf0f1;
  border-radius: 3px;
  font-size: 0.9em;
}
.dataTables_wrapper .dataTables_filter > label input[type='text']:focus {
  outline: none;
}
.dataTables_wrapper .dataTables_length > label {
  font-weight: 400;
  font-size: 0.9em;
}
.dataTables_wrapper .dataTables_info {
  color: #bdc3c7;
  font-size: 0.85em;
  font-weight: 300;
}
.dataTables_wrapper .dataTables_paginate a {
  display: inline-block;
  font-size: 0.8em;
  margin: 1px 3px;
  padding: 3px 5px;
  background-color: #3498db;
  color: white;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.dataTables_wrapper .dataTables_paginate a.paginate_disabled_previous, .dataTables_wrapper .dataTables_paginate a.paginate_disabled_next {
  background-color: #bdc3c7;
}
.dataTables_wrapper .dataTables_paginate a.paginate_enabled_previous:hover, .dataTables_wrapper .dataTables_paginate a.paginate_enabled_next:hover {
  background-color: #258cd1;
  cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate a.paginate_disabled_previous:before, .dataTables_wrapper .dataTables_paginate a.paginate_enabled_previous:before {
  content: '\f0a8';
  margin-right: 4px;
}
.dataTables_wrapper .dataTables_paginate a.paginate_disabled_next:after, .dataTables_wrapper .dataTables_paginate a.paginate_enabled_next:after {
  content: '\f0a9';
  margin-left: 4px;
}
.dataTables_wrapper .dataTables_paginate a:hover {
  text-decoration: none;
}

/* Bootstrap Slider Customization */
div.slider.slider-horizontal .slider-track, div.slider.slider-vertical .slider-track {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: #ecf0f1;
}
div.slider.slider-horizontal .slider-track .slider-handle, div.slider.slider-vertical .slider-track .slider-handle {
  margin-top: -8px;
  background: #fff;
  opacity: 1;
  box-shadow: none;
  -webkit-box-shadow: none;
}
div.slider.slider-horizontal .slider-track .slider-handle:not(.triangle), div.slider.slider-vertical .slider-track .slider-handle:not(.triangle) {
  border: 2px solid #2980b9;
}
div.slider.slider-horizontal .slider-track .slider-handle.triangle, div.slider.slider-vertical .slider-track .slider-handle.triangle {
  margin-top: 2px;
  border-width: 0 10px 10px 10px;
  border-bottom-color: #2980b9;
}
div.slider.slider-horizontal .slider-track .slider-handle:focus, div.slider.slider-vertical .slider-track .slider-handle:focus {
  outline: none;
}
div.slider.slider-horizontal .slider-track .slider-selection, div.slider.slider-vertical .slider-track .slider-selection {
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: #3498db;
}
div.slider.slider-horizontal .tooltip .tooltip-inner, div.slider.slider-vertical .tooltip .tooltip-inner {
  background-color: #ecf0f1;
  color: #7f8c8d;
}
div.slider.slider-horizontal.slider-disabled .slider-handle.round, div.slider.slider-vertical.slider-disabled .slider-handle.round {
  border-color: #bdc3c7;
}
div.slider.slider-horizontal.slider-disabled .slider-selection, div.slider.slider-vertical.slider-disabled .slider-selection {
  background: #bdc3c7;
}

div.slider.slider-horizontal {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 8px 0;
}
div.slider.slider-horizontal .slider-track {
  height: 2px;
}
div.slider.slider-horizontal .tooltip .tooltip-arrow {
  border-top-color: #ecf0f1;
}

div.slider.slider-vertical {
  margin: 10px 20px;
}
div.slider.slider-vertical .slider-track {
  width: 2px;
}
div.slider.slider-vertical .slider-handle {
  margin-left: -8px;
}
div.slider.slider-vertical .slider-handle.round {
  margin-left: -9px;
}
div.slider.slider-vertical .tooltip .tooltip-arrow {
  border-right-color: #ecf0f1;
}

/* Bootstrap Select Customization */
.bootstrap-select > .btn:focus {
  outline: none !important;
}
.bootstrap-select > .btn.btn-primary .text-muted, .bootstrap-select > .btn.btn-success .text-muted, .bootstrap-select > .btn.btn-info .text-muted, .bootstrap-select > .btn.btn-warning .text-muted, .bootstrap-select > .btn.btn-danger .text-muted {
  color: #ecf0f1;
}
.bootstrap-select .dropdown-menu a:focus {
  outline: none;
}
.bootstrap-select .form-control {
  font-size: 0.9em;
}
.bootstrap-select.btn-group li.no-results {
  background: transparent;
  font-size: 0.9em;
  padding: 4px;
}
.bootstrap-select .dropdown-menu li a:hover .text-muted, .bootstrap-select .dropdown-menu li a:focus .text-muted {
  color: #95a5a6 !important;
}

/* Bootstrap Switch Customization */
.bootstrap-switch {
  margin-right: 8px;
}
.bootstrap-switch.bootstrap-switch-wrapper {
  border-color: #ecf0f1;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  background-color: #ecf0f1;
}
.bootstrap-switch.bootstrap-switch-wrapper.bootstrap-switch-focused {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #c6d2d5;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #3498db;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
  background-color: #16a085;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info {
  background-color: #53A5DB;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning {
  background-color: #F7B650;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger {
  background-color: #F55F4F;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-inverse {
  background-color: #34495e;
  color: #fff;
}

/* Bootstrap Tagsinput Customization */
.bootstrap-tagsinput {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #ccc;
  border-radius: 3px;
}
.bootstrap-tagsinput .tag.label {
  font-weight: 400;
}

/* FuelUX Wizard */
.fuelux .step-content {
  background-color: #fff;
}
